[2021-03-11 06:41] helenwillems commented on #240
@cdbell01 For me it works now. But I first did a system upgrade to MacOS Big Sur, then completely deinstalled and reinstalled QGIS 3.16.4 Hannover and then load the UMEP from the .zip file.

[2021-03-11 08:01] biglimp commented on #242
I have seen this also and I am not sure what this is since it happens outside of our code. I seems that it has no effect on the umep plugin but if you notice some strange behaviour, please let us know. I will close this issue.

[2021-03-11 08:01] #242 closed, assigned to nobody

[2021-03-11 15:21] cdbell01 commented on #240
Yes! Got the UMEP plug-in to work after uninstall/reinstall of QGIS and loading the plug in from the .zip file posted to this thread. Not sure what was different about my 5th uninstall/re-install of QGIS 3.16.4 - but happy it's working. Thanks so much everybody - you have an amazing community here.

[2021-03-11 16:35] jonas260492 opened #243 "Pre-Processor, Download Data ERA-5, supy not installed/upgraded"
hi
I want to use UMEP SOLWEIG-tool and for this, I need the weather data. I wanted to use the pre-processor and download ERA-5 Data but it says:
*"This plugin requires the supy package to be installed OR upgraded. Please consult the FAQ in the manual for further information on how to install missing python packages."*
I installed and upgraded the supy package according to the handbook. Therefore I

[2021-03-12 04:12] bweeding commented on #204
Hi, hope you are well! I'm back working on my standalone scripts, getting
ready to port them onto a server. I have encountered an odd issue which I
thought you might have dealt with before.

I am able to use 3rd party algorithms like UMEP just fine, but have no
access to the 'native' algorithms. Have you encountered this before?
I've attached a summary of the problem that I've also posted on GIS
s

[2021-03-12 05:18] bweeding commented on #204
Ah never mind, I found the solution!

On Fri, Mar 12, 2021 at 3:12 PM Ben Weeding ***@***.***>
wrote:

[2021-03-12 08:50] FroehDo opened #244 "Casting failure while running"
While running "Solar Energy on Building Envelopes" i get the following crash exception (immediatelly).

             LINE 105 "wallmatrix = np.zeros((np.shape(wallrow)[0], int(wallsections)))"
             ERROR MESSAGE: cannot convert float NaN to integer

I'm trying with a DSM of 30x30cm.

[2021-03-12 09:00] biglimp commented on #244
What OS are you using (Windows, Mac etc.)?
What version of UMEP?
For quicker response, also attach your input files.

[2021-03-12 09:06] FroehDo commented on #244
I'm on Win10 (64)
QGIS-Version is 3.10.13-A Coruña
UMEP Version is 3.16 (23rd Feb 2021)
I'll ask wether I'm allowed to share the DSM, for I don't own that...

[2021-03-12 09:08] biglimp commented on #243
What OS (Windows, Mac) are you using and what version of UMEP?

Open the Python Console in QGIS and type the following:
[code]
Report back the result.

[2021-03-12 10:39] jonas260492 commented on #243
Thanks!
I am using QGIS on windows.
This is the error message when I call: import supy as sp:
*untimeError: module compiled against API version 0xe but this version of numpy is 0xd
Traceback (most recent call last):
  File "C:\OSGEO4~1\apps\Python37\lib\code.py", line 90, in runcode
    exec(code, self.locals)
  File "<input>", line 1, in <module>
  File "C:/OSGEO4~1/apps/qgis/./python\qgis\utils.

[2021-03-12 14:02] jonas260492 commented on #243
I just tried again and now it is working. Thank you very much!

[2021-03-12 14:14] #243 closed, assigned to sunt05

[2021-03-12 19:04] jonas260492 opened #248 "Meteorological Data: Download data (ERA5) does not get any data"
I installed everything as it was written in the introduction. supy is working well, and the file with my login for CDS data is in the my User folder: I typed in the info as follows in this file:
* url: https://cds.climate.copernicus.eu/api/v2
key: 80129:cbb19830-0f63-46cf-a4c4-ae8ac83c4f12*

But when I want to download the meteorological data this appears. And the data download never finishes.
![i

[2021-03-13 00:02] sunt05 commented on #240
glad to see the issue has been resolved.

However, here I just want to clarify several points:
1.

Apparently, installing XQuartz did help as the issue here is actually a new one and not related to [the one originally reported](https://github.com/UMEP-dev/UMEP/issues/240#issuecomment-796280582).

2) the `osr` issue is a known issue that should have been resolved but might not get updated in the QG

[2021-03-13 00:05] sunt05 commented on #248
it could just be the processing at the CDS side is very slow at the moment: if you log into the CDS website, you should be able to see the processing status.

![Screenshot 2021-03-13 at 00 04 44](https://user-images.githubusercontent.com/1802656/111010917-ca264600-838f-11eb-9aff-f6a17d72d590.png)

[2021-03-13 00:07] sunt05 commented on #240
@cdbell01 please consider closing this issue if things are working now. thanks!

[2021-03-13 00:14] cdbell01 commented on #240
@sunt05 I think it is @helenwillems issue to close. Thanks again.

[2021-03-13 00:16] #240 closed, assigned to nobody

[2021-03-13 00:19] sunt05 opened #249 "add version info"
version info should be embedded in the code/plugin for easier identification.

[2021-03-14 18:38] jonas260492 commented on #248
thank you for your reply, I checked my requests and ... nothing.
I was wondering that my API key in my profil (see screenshot) is the same as in the API how to (https://cds.climate.copernicus.eu/api-how-to).

I would appreciate every info.,.

[2021-03-14 18:56] sunt05 commented on #248
**NEVER SHARE A KEY/PASSWORD LIKE THIS.**

So I deleted your pic as the admin here.

I'll post a workaround later for you.

[2021-03-14 18:59] sunt05 commented on #248
You can test the CDS API in python first using the example provided by CDS https://cds.climate.copernicus.eu/api-how-to.
If things are working with the example, we can then move onto the UMEP side and see how to fix the issue.
Otherwise we can do nothing at the UMEP side.

[2021-03-15 07:18] biglimp commented on #249
Great. How can we go about this. If you point me the correct direction I can do it.

[2021-03-15 07:52] sunt05 commented on #249
I just add something simple here: https://github.com/UMEP-dev/UMEP/commit/7f29d648b96d29292676878a687be1ad2fa98fc2

So you can get your thoughts in.

Please let me know if more I can help with.

[2021-03-15 08:48] biglimp commented on #248
@sunt05, tried with UMEP for Processing. Got the error below using version supy: 2020.6.30
supy_driver: 2020b1 and the sp.util.gen_forcing_era5 function:

A real error or should I update supy? NetCDF files downloaded.

[code]

[2021-03-15 09:35] sunt05 commented on #248
it could be due to your `xarray`: it seems to use some deprecated functions. please update it.

[2021-03-15 12:05] biglimp commented on #248
New error when updated to 0.17.0 and no netCDF files:

[code]

[2021-03-15 12:10] sunt05 commented on #248
as you can see this is raised by `tqdm`: you might need to update this as well.

[2021-03-15 12:11] sunt05 commented on #248
or, maybe update `cdsapi` as I can see `tqdm` is actually used by `cdsapi`.

[2021-03-15 14:40] #249 closed, assigned to sunt05, biglimp

[2021-03-15 14:41] biglimp opened #250 "Template for issue submission"
Set up a template for issue submission to Github (Version, OS, data, etc.)

[2021-03-16 08:21] biglimp commented on #248
Updated both. Now this error. NetCDF files downloaded.

[code]

[2021-03-16 08:58] sunt05 commented on #248
sorry about the trouble but I cannot see an apparent cause for this.
maybe update your `supy` as well? I see it still stays in 2020.

[2021-03-16 09:36] biglimp commented on #248
Updated Supy but got this error. How do I solve this? Update numpy?

[code]

[2021-03-16 09:36] sunt05 commented on #248
yes

[2021-03-16 09:57] biglimp commented on #248
Now it works but very slow. One day took 129 seconds. @jonas260492, Make sure to update both SuPy and numpy, if necessary. More info is found here: https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#adding-missing-python-libraries-and-other-osgeo-functionalities.

[code]

[2021-03-16 10:00] sunt05 commented on #248
the time-consuming part might be the downloading; processing itself should be pretty fast.
anyway, good to know things are back normal again!

[2021-03-16 12:16] jonas260492 commented on #248
Thanks for the answers. I was succesfully able to use the API manually and download data.
Now I am also using the for processing tools but it does not work for me either. I get this error:
Algorithmus Meteorological Data: Download data (ERA5) startet…
Eingabeparameter:
[code]

I already installed dask[array] (all requierements already satisfied) but the error stays the same. I also tried to update

[2021-03-16 12:24] sunt05 commented on #248
if you have installed the required package, you might need to restart your QGIS and try again to force load the package.

[2021-03-16 13:41] jonas260492 commented on #248
Now I got the same issue like @biglimp  yesterday. but upgrading the mentioned packages doesnt help:
[code]

Ausführung nach 0.80 Sekunden gescheitert

Any ideas? I updated, cdsapi, numpy, tqdm, supy. I also uninstalled and installed again...
also restarted windows and qgis... thanks a million

[2021-03-16 14:01] biglimp commented on #248
Check if you got any netCDF-files downloaded to your computer. There is also a development version of the processing for UMEP available (1.1) in our Github try to use that one instead.
https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#installing-development-release-could-be-unstable
https://github.com/UMEP-dev/UMEP-processing

[2021-03-16 14:42] biglimp opened #251 "Hello, i was wondering if it is possible to use the Daily Shadow Pattern tool and get the Shadow Fraction for only a period of the day."
Hello, i was wondering if it is possible to use the Daily Shadow Pattern tool and get the Shadow Fraction for only a period of the day.
For example i want to know the Shadow Fraction from 12:00 to 20:30.
There's probably a way to get the same results with other GIS tools and i will find a way if thats not possible, but i just wanted to know, it would make my life easier.

Thank you!

_Originally p

[2021-03-16 14:44] #251 closed, assigned to nobody

[2021-03-16 14:48] biglimp commented on #229
@vsoubry and @elliots , I am thinking on adding this feature. Any suggestions on how to do this?
My suggestion:

- Add a start date and time
- Add a end date and time
- Add a shadow casting interval
- Add a optional start time when shadows should be generated
- Add an optional end time when shadows no longer should be generated

[2021-03-16 20:43] sunt05 commented on #250
added something here: https://github.com/UMEP-dev/UMEP/commit/3a545f5bd11576413aa29332b1da398ea711c82b

[2021-03-16 20:43] sunt05 commented on #250
and if you now press the `New Issue` button, you'll see the template issue.

[2021-03-17 08:13] #250 closed, assigned to sunt05, biglimp

[2021-03-18 15:43] FroehDo commented on #244
My test files can be obtained at [https://geoportal.freiburg.de/files/rem/sample_20210318/testfiles.zip](https://geoportal.freiburg.de/files/rem/sample_20210318/testfiles.zip).

[2021-03-18 15:58] biglimp commented on #244
Please also attach your meteorological file.

[2021-03-19 07:42] FroehDo commented on #244
Ah, sure. Sry. Here you go: [https://geoportal.freiburg.de/files/rem/sample_20210318/meta_export.txt](https://geoportal.freiburg.de/files/rem/sample_20210318/meta_export.txt)

[2021-03-19 10:27] ljin456 opened #254 "Problem with Lup in SOLWEIG"
Dear developers,

we would like to report an issue with the outgoing longwave radiation Lup in SOLWEIG.

We performed two SOLWEIG simulations on a mostly cloud-free day with temporal resolutions of 1-minute and 10-minute, respectively. We observed unusual fluctuations during the sun-exposed hours in Lup. In the 1-min simulation, the value of Lup drops every 30 minutes (30 time steps) and in the 10

[2021-03-19 14:54] biglimp commented on #244
This is very strange. The reason is that you somehow get strange values in the lowest row in your wall height raster. I cannot understand where they come from. I suggest that you reclass values larger than e.g.100 to 0 in your wall raster. Then it should work. I might look into fixing this later.

[2021-03-19 14:55] biglimp commented on #254
I found the issue for this and will update SOLWEIG in a near future.

[2021-03-19 15:09] biglimp commented on #244
Actually, my previous suggestion will not work. I have to try something else...

[2021-03-19 15:37] #244 closed, assigned to nobody

[2021-03-19 15:37] #254 closed, assigned to biglimp

[2021-03-19 15:38] biglimp commented on #238
@MonaScht , did you get hold of Christoph?

[2021-03-19 18:38] cdbell01 opened #255 "SOLWEIG error TDSM filepath not defined"
**Describe the bug**
I'm encountering an error when running Solweig with a TDSM I've created myself. If I uncheck "Trunk zone DSM exist" and use the built-in TDSM generator in Solweig - Solweig runs great with the other inputs. The output seems correct. Note, I did not use the UMEP Tree Generator to create the TDSM, I used the raster calculator.

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-03-20 08:40] biglimp commented on #255
Fixed. I can also recommend to use SOLWEIG in UMEP for processing (https://plugins.qgis.org/plugins/processing_umep/)

[2021-03-20 08:40] #255 closed, assigned to nobody

[2021-03-21 10:07] rarygit commented on #248
Failed:   UMEP /Pre-Processing/ Meteorological /Download data (ERA5)

Successful:  UMEP-Processing /Meteorological Data: Download data (ERA5)

OS:  Ubuntu 20.04, conda env (conda install qgis toolz dask); cond-forge channel
Needed to install toolz and dask to get it working.
pip install supy --upgrade

One Month, 21 minutes
One Year, 186 minutes

Note on Copernicus ERA5 site today: The CDS Toolbox

[2021-03-21 13:14] shayeldad opened #256 "Shadow generator gives false names to shadow files and overwrites itself."
Hi,
I'm using latest version of UMEP, and in the newest versions (3.16 and 3.17), I have an error with shadow generator when creating a daily shadow pattern. I get the following message (for a full day calculation):

_

another issue which could maybe imply on the error, is when i create individual shadows. for instance, i create a shadow for 9:30 am and receive a correct results, but the file nam

[2021-03-22 07:15] biglimp commented on #248
Thank you for this info @rarygit. ERA Downloader in UMEP for processing is making use of the QGIS built-in capabilities of distributing tasks on different treads on your computer whereas, UMEP is using another type of worker approach. Thus, I am not surprised that UMEP for processing works better.

[2021-03-22 08:16] biglimp commented on #256
Could you please try if you get the same error when using the ShadowGenerator from **UMEP for Processing** (available from the QGIS Plugin repository) and report back.

[2021-03-22 08:23] shayeldad commented on #256
I do, same result.

[2021-03-22 08:33] biglimp commented on #256
Thanks. I will try to identify the issue. Could you please attach your DSM for me to work with.

[2021-03-22 08:35] shayeldad commented on #256
attached

From: biglimp ***@***.***>
Sent: Monday, March 22, 2021 10:34 AM
To: UMEP-dev/UMEP ***@***.***>
Cc: Shay Eldad ***@***.***>; Author ***@***.***>
Subject: Re: [UMEP-dev/UMEP] Shadow generator gives false names to shadow files and overwrites itself. (#256)

Thanks. I will try to identify the issue. Could you please attach your DSM for me to work with.

—
You are receiving this because you

[2021-03-22 08:49] shayeldad commented on #256
[MUZA6.5FL.zip](https://github.com/UMEP-dev/UMEP/files/6180699/MUZA6.5FL.zip)

[2021-03-22 10:00] biglimp commented on #256
Solved. Use development release 3.17.1 or 1.2.1 (processing). https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#installing-development-release-could-be-unstable

[2021-03-22 10:00] #256 closed, assigned to nobody

[2021-03-23 04:33] bweeding opened #260 "SOLWEIG run failing in processing/python but successful in conventional plugin"
I'm running SOLWEIG simulations, and while they work perfectly when using the point and click plugin, when I attempt the same task using the processing plugin or in python I receive an error:
![image](https://user-images.githubusercontent.com/57697604/112093025-e1193380-8bec-11eb-8711-42854386c483.png)

It may be useful to note that this has only started happening with v1.0 of the processing plugi

[2021-03-23 07:21] rarygit commented on #260
Yes, it throws an error; expects an npz file.

'INPUT_ANISO' : '',

Should this be 'INPUT_ANISO' : None,  ?

[2021-03-23 09:34] biglimp commented on #260
I cannot replicate your error using SOLWEIG from the processing toolbox. Could you try executing from there instead from the Python Console and see if you get the same error. Also make sure that you have the latest version (1.2.1 development release).

![image](https://user-images.githubusercontent.com/11908356/112124409-97b3ee80-8bc2-11eb-8a7d-2cdd1a9ce791.png)

[2021-03-23 12:13] rarygit commented on #260
Re-installed UMEP Processing plugin using QGIS plugin manager.
This installed version 1.0   : First official release. SUEWSAnalyzer and TreeGenerator added
And SOLWEIG fails to run as described above.

Uninstalled UMEP Processing plugin and installed using zip file downloaded from GitHub.
This installed version 1.2.1 : Response to #256
SOLWEIG now runs from the processing toolbox.

Need to remind

[2021-03-23 12:19] biglimp commented on #260
Yes. I will update in the QGIS plugin repository and also add info on version (somehow) when running tools in the toolbox. @bweeding , did the update solve your issue when running from the Python console?

[2021-03-23 12:31] rarygit commented on #260
@biglimp, thanks! That was time-consuming to detect, because I automatically trusted the plugin manager.

[2021-03-23 18:05] AlexKDo opened #262 "Umep installation error: module compiled against API version 0xe but this version of numpy is 0xd"
Hello,

I am trying to install UMEP plugin in QGis and there is always an error- as seen in the pic below,

Appreciate any help provided!

![Untitled Project — QGIS 23_3_2021 8_01_14 μμ](https://user-images.githubusercontent.com/81244161/112195445-a4603300-8c12-11eb-87a9-665591a6fa25.png)

[2021-03-23 20:58] bweeding commented on #260
Hi all, thanks for the help. However, I'm unclear which files I need to
download from github to install the processing tool as a .zip?

I had also trusted the QGIS plugin manager too!

Cheers
Ben

On Tue, Mar 23, 2021 at 11:31 PM rarygit ***@***.***> wrote:

[2021-03-23 21:08] rarygit commented on #260
https://github.com/UMEP-dev/UMEP-processing/archive/refs/heads/main.zip

Download the zip file using link above and save to your HDD.
Uninstall your existing UMEP_processing plugin using the QGIS plugin manager.
Then use the QGIS plugin manager to "install from zip" - i.e. the downloaded zip file saved to your HDD.

As a future precaution, check the metadata.txt file in your zip file to confirm th

[2021-03-23 21:10] bweeding commented on #260
Ah cheers, will do!

On Wed, Mar 24, 2021 at 8:08 AM rarygit ***@***.***> wrote:

[2021-03-23 21:15] rarygit commented on #248
And thanks to you and Ting for the plugin!

[2021-03-23 22:24] bweeding commented on #260
Is now working, via both the processing toolbox and the QGIS python environment. Will next test in standalone python.

[2021-03-23 23:06] bweeding commented on #260
I have successfully run SOLWEIG in standalone python (using Spyder through Anaconda).

Having downloaded "UMEP-processing-main", I made a copy of this folder inside the plugins folder
('C:\Users\weedingb\AppData\Roaming\QGIS\QGIS3\profiles\default\python\plugins'), and renamed it to UMEP_processing_main (as python won't accept the '-').

I then ran:

`from UMEP_processing_main.processing_umep_prov

[2021-03-24 06:39] rarygit commented on #260
As you can see below, hyphen "-" in the path to the plugin folder works ok in python.
Path:  /home/l1nux/.local/share/QGIS/QGIS3/profiles/default/python/plugins/UMEP-processing-main

`foobar = __import__("UMEP-processing-main")`

But you are correct with `import UMEP-processing-main` throwing an invalid syntax error.

conda environment (using miniconda3 with conda-forge as primary channel; avoid A

[2021-03-24 07:11] biglimp commented on #262
This is a known issue where SuPy, a tool used in UMEP is using a different version of numpy than is shipped with QGIS. We will soon introduce a solution. In the meantime you can upgrade numpy yourself by following the instructions from https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#adding-missing-python-libraries-and-other-osgeo-functionalities. The commands you should use (if you

[2021-03-24 08:14] biglimp commented on #260
Thanks, @bweeding . I will try to find a way so the Python ignores the error messages. They are actually not errors that affect the model.

[2021-03-24 08:15] biglimp opened #263 "Suppress Python errors in the Python console"
I have successfully run SOLWEIG in standalone python (using Spyder through Anaconda).

Having downloaded "UMEP-processing-main", I made a copy of this folder inside the plugins folder
('C:\Users\weedingb\AppData\Roaming\QGIS\QGIS3\profiles\default\python\plugins'), and renamed it to UMEP_processing_main (as python won't accept the '-').

I then ran:

`from UMEP_processing_main.processing_umep_prov

[2021-03-24 09:20] bweeding commented on #260
Ah ok cool! I'll get to work commenting the code so it can be turned into a
tutorial as previously discussed

On Wed, 24 Mar 2021, 19:15 biglimp, ***@***.***> wrote:

[2021-03-24 13:49] biglimp commented on #263
Should be fixed now (version 1.3)

[2021-03-24 13:49] #263 closed, assigned to nobody

[2021-03-24 13:51] biglimp commented on #260
Should be fixed now. I updated to 1.3. Will push it to QGIS repository. TO find version, hover over UMEP in the toolbox and then a tooltip should appear displaying version number,

[2021-03-24 13:51] #260 closed, assigned to nobody

[2021-03-25 10:08] sunt05 commented on #262
This should have be fixed now with a recent update of `supy-driver` that explicitly specifies the minimum required `numpy` version.
But as user environments are diverse, let's keep this open for a while and see if similar issues would appear.

[2021-03-25 17:02] AlexKDo commented on #262
It is indeed fixed! thank you.
I also installed UMEP from zip file, because i had problem with Post-processing and it all works until now.

Should i close this issue?

[2021-03-25 22:22] sunt05 commented on #262
@AlexKDo thanks for your feedback!
and yes, please close the issue.

[2021-03-25 22:23] #262 closed, assigned to sunt05

[2021-03-26 01:13] bweeding opened #264 "Lines in mean radiant temperature images"
When generating mean radiant temperature maps, lines are appearing.
The code used to generate the images can be found here:
https://github.com/bweeding/phd/blob/main/las_fusion_processing_draft3_uni.py

![image](https://user-images.githubusercontent.com/57697604/112562839-5292f500-8e2c-11eb-9a2a-2ae66843ef39.png)

[2021-03-26 07:37] biglimp commented on #264
This is not a UMEP issue. I am moving this over to Discussions where we can continue this.

[2021-03-26 07:38] #264 closed, assigned to nobody

[2021-03-26 08:51] jonas260492 commented on #248
Thank you so much. Great support, great tool. For me, it is also working now. But the "normal" UMEP, not the processing.

[2021-03-26 08:52] biglimp commented on #248
Very nice to see that our efforts benefits others. Good luck with your work I am closing this issue now.

[2021-03-26 08:52] #248 closed, assigned to nobody

[2021-03-29 13:10] Empanag opened #266 "Problem with T2 values"
**Describe the bug**
hi, i'm using SUEWS for a grid in city of Heraklion at Crete. The model produce some values from the T 2m that are very low, reaching -40 C that is for sure unreal.

**Desktop (please complete the following information):**
 - OS: windows 10
 - SuPy Version 2021.2.3 (I m using python compiler not QGIS)

**Screenshots**
![image](https://user-images.githubusercontent.com/61833032

[2021-03-29 13:35] sunt05 commented on #266
@Empanag Please update SuPy to a recent version and see if this issue persists.

[2021-03-29 22:53] Empanag commented on #266
yes again some values are at -20,-19. I run it with the newest 2021.3.24 but in different pixels of the grid.

[2021-04-04 19:39] ghost commented on #238
No, I found an other program that fits better. Thank you

[2021-04-04 19:39] #238 closed, assigned to nobody

[2021-04-05 04:46] snu11 opened #270 "processing_umep installation error"
I am getting following error when installing processing_umep

Windows 10 64bit

[code]

[2021-04-06 07:27] biglimp opened #271 "conflict in numpy versions"
We still have a conflict version issue which I think relate to Supy. Is is possible to update numpy automatically when installing SuPy?

Would be prefereble if users were not forced to upgrade numpy manually.

**Desktop (please complete the following information):**
 - OS: 'Windows 10
 - QGIS Version 3.18
 - UMEP Version 3.17
 - SuPy Version 2021.3.30

![image](https://user-images.githubuserconten

[2021-04-06 07:35] biglimp commented on #270
It seems you have an issue with scipy for Python3. Make sure it is installed. See information here: https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#adding-missing-python-libraries-and-other-osgeo-functionalities

[2021-04-06 07:42] biglimp commented on #270
I transfer this issue to the umep_processing repository. https://github.com/UMEP-dev/UMEP-processing

[2021-04-06 17:08] debasmita260 opened #272 "spatial data downloader is not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (please complete the following information):**
 - OS: [e.g. macOS]
 - QGIS Version [e.g. 3.18]
 - UMEP Version [e.g. 3.16.2]
 - SuPy Version [e.g. 2021.1.23]

**Screenshots**
If applicable, add

[2021-04-06 17:11] suegrimmond commented on #272
please provide error information

[2021-04-07 05:13] debasmita260 commented on #272
![image](https://user-images.githubusercontent.com/82051633/113813735-147fc480-978e-11eb-9a46-c2e0507cb863.png)

[2021-04-07 05:14] debasmita260 commented on #272
![image](https://user-images.githubusercontent.com/82051633/113813772-295c5800-978e-11eb-8639-5436b1566316.png)

[2021-04-07 05:14] #272 closed, assigned to nobody

[2021-04-07 08:06] sunt05 commented on #271
This should not happen if users upgrade their installed supy as all required dependencies would be installed/upgraded as well.
So I couldn't think of a good way to resolve this at the moment.

And the supy here is installed for the first time or upgraded from a previous version?
if the latter, did you notice that `numpy` is updated along the way as well?

[2021-04-07 08:41] biglimp commented on #271
SuPy is already on the computer and when QGIS is reinstalled numpy is not upgraded.

Is this still the location where I can see what modules that are installed/upgraded when Supy is installed? According to this, numpy is not included. https://github.com/sunt05/SuPy/blob/d48f58d8f35e852acd4e205ca4b0a3c9adcdebf2/src/setup.py#L40-L58

[2021-04-07 08:51] sunt05 commented on #271
So I guess the re-installation of QGIS somehow overrode the numpy required by supy.

(almost) yes, but this is the latest version (you were looking at the archived one):
https://github.com/UMEP-dev/SuPy/blob/master/src/setup.py

And the dependency on `numpy` is not specified here but in the `supy-driver` module.

in this case, you may `pip uninstall supy supy-driver` and reinstall them to resolve

[2021-04-07 11:25] biglimp commented on #271
Ok, thanks. I other words, we cannot avoid users NOT to be forced to use pip... Hopefully this is not a common issue.

Where can I find the modules installed with the supy-driver?

[2021-04-07 11:34] sunt05 commented on #271
Only numpy is required by SuPy-driver: no other dependencies.

[2021-04-08 05:27] DimitrisTsi commented on #198
Hello everyone. I am facing the same issue as shahjahan0275 while trying to run suews simple.
What i have done so far is this:
 - firstly i ran suews simple using the 'add settings from test dataset' option to check that everything is ok, and indeed the program runs smoothly with no errors and the expected results.
 - then i change the meteorological file with mine , and also change the 'year' to

[2021-04-08 07:55] biglimp commented on #198
I cannot reproduce your error exactly but I cannot run the model with your metdatafile. @sunt05, I get the error below just replacing the metfile using the Sample dataset.

Please inform us on the following:

1. Where are your metdatafile from? It seems that it is not for a location near London, UK? If not, you need to adjust the lat and lon and maybe other parameters.
2. @sunt05 , The metfile use

[2021-04-08 08:05] DimitrisTsi commented on #198
The metdatfile is from Heraklion, Greece, however i get the same error when using the correct parameters. Also, i have tested using only the first 24 lines of the metdat file as input (to check a smaller timeframe) but still the same error occurs
![Στιγμιότυπο 2021-04-05, 10 51 09 πμ](https://user-images.githubusercontent.com/20373671/113990546-3e9eb880-985a-11eb-8f70-9a02739030d8.png)
Thanks

[2021-04-08 08:46] sunt05 commented on #198
Hi @DimitrisTsi,

your [met file](https://github.com/UMEP-dev/UMEP/files/6276224/herv2__met_proc_2020_data_60.txt) seems to be OK and I can successfully run supy outside of the UMEP env.

Hi @biglimp,
also I can use `save_supy` to export all results without any issue: [supy-output.zip](https://github.com/UMEP-dev/UMEP/files/6277337/supy-output.zip).
I guess there might some other files in the UMEP

[2021-04-08 11:59] biglimp commented on #198
@DimitrisTsi , locate the **suewsmodel** directory which should be located here is you are a windows user: C:\Users\**your_username**\AppData\Roaming\QGIS\QGIS3\profiles\default\python\plugins\UMEP\suewsmodel\Input. I recommend that you delete the content and re-run SuewsSimple to get rid of any unnecessary files. Then zip the input folder and attach it here.

[2021-04-08 14:35] DimitrisTsi commented on #198
here is the input folder content @biglimp
[Input.zip](https://github.com/UMEP-dev/UMEP/files/6279420/Input.zip)

[2021-04-14 14:03] biglimp commented on #198
@sunt05 , can you test these input files. It produce error in SUEWSSimple for me.

[Input.zip](https://github.com/UMEP-dev/UMEP/files/6311326/Input.zip)

![image](https://user-images.githubusercontent.com/11908356/114723473-f809fc00-9d3a-11eb-8924-05823f086e22.png)

[2021-04-14 14:07] sunt05 commented on #198
@biglimp thanks for the archive: I'll test it later today.

[2021-04-14 22:29] sunt05 commented on #198
@biglimp I tried your input files and nothing went wrong here. we may discuss this tomorrow (i.e., Thur.).

[2021-04-15 07:57] biglimp commented on #198
There is something very strange here. I tried to run in QGIS Python Console and that worked. Output files are written to disk. Any idea what is happening (based on the error above). Unfortunately, I am in a meeting all day today.

`import supy as sp`
`from pathlib import Path`
`path_runcontrol = Path(r'C:\Users\xlinfr\AppData\Roaming\QGIS\QGIS3\profiles\default\python\plugins\UMEP\suewsmodel\RunCo

[2021-04-15 08:03] sunt05 commented on #198
sorry I couldn't figure out the issue based on the error above.
we may need to write some debugging code inside UMEP to dump `df_forcing`, `df_state_init`, `df_output` and `df_state_final` to understand what's actually happening there.

[2021-04-15 08:12] biglimp commented on #198
What code should I add?

[2021-04-15 08:17] sunt05 commented on #198
in the `suews_wrapper` code, add something like the following:
[code]

then after running suews in UMEP, we should get some `pkl` files in your `C:\Users\xlinfr\AppData\Roaming\QGIS\QGIS3\profiles\default\python\plugins\UMEP\suewsmodel`.

please post those here as a zip and I'll take them for debugging.

[2021-04-15 12:14] jonas260492 opened #275 "SOLWEIG-processing for a mosaic of Rasters"
Hey
thanks one more time for the tool.

I have some unexpected results when calculating Mean Radiant Temperature (Tmrt) in a loop with a script.
I divided the city in a mosaic of ca. 9.500 elements (100x100meter) because I count with fine level meteorological data from sensors and I want to ensure that weather data is as fine as possible. So I have different weatherdata for all of these mosaic ele

[2021-04-15 12:28] #275 closed, assigned to nobody

[2021-04-15 13:42] biglimp commented on #198
Finally I found the issue. The first line in the metdata from @DimitrisTsi is not correct (2020 0 0 1 ...). This does not exist for 2020 as this is the last hour of 2019. Remove first line and try again.

[2021-04-15 15:17] gusbacos opened #277 "SUEWS Prepare Error"
**Describe the bug**

I get following message when trying to Generate using SUEWS Prepare:

I get following error code in Log Messages

**Desktop (please complete the following information):**
 - OS: Windows 10
 - QGIS Version 3.18.1
 - UMEP Version e.g. 3.16.1
 - SuPy Version e.g. 2021.1.12

**Data**
[Okv.zip](https://github.com/UMEP-dev/UMEP/files/6319084/Okv.zip)
See attached data, but i also t

[2021-04-15 15:54] DimitrisTsi commented on #198
@biglimp indeed that was the issue, suews simple runs smoothly after removing the first line.
Thanks a lot!

[2021-04-15 18:08] sunt05 commented on #198
I think you meant `2020 1 0 0 ...`? since that's what I see in @DimitrisTsi 's [met file](https://github.com/UMEP-dev/UMEP/files/6276224/herv2__met_proc_2020_data_60.txt)
But that's a valid timestamp representation.
So now it's me who really get confused...

[2021-04-16 06:13] biglimp commented on #198
Yes, @sunt05 you are correct. I will close this issue now and put in a warning about errors in the metfile.

[2021-04-16 06:13] #198 closed, assigned to sunt05

[2021-04-19 06:22] CsillaVG opened #278 "SuPy throws a KeyError when trying to load initial model states"
Hi UMEP Team,

Below is the issue description.
Thank you for your help in advance!

Best,
Cs.

**Describe the bug**
Supy is throwing a KeyError when trying to load initial model states with supy.init_supy. Init model state was assembled with the SUEWS converter.

**To Reproduce**
Run df_state_init = supy.init_supy(path_runcontrol) to reproduce the following error.

KeyError: "Passing list-likes to

[2021-04-19 07:51] biglimp commented on #277
@gusbacos , shall we close this as this was fixed after updating to latest versions?

[2021-04-19 07:53] gusbacos commented on #277
Yes, lets do that.

[2021-04-19 07:58] #277 closed, assigned to biglimp, gusbacos

[2021-05-22 13:46] j0lsson opened #279 "Error when using SOLWEIG with trunk zone grid"
Hi!

When I try to use SOLWEIG with a tdsm layer a get a python error. It works fine if I exclude the tdsm. See attached image for the error and .zip for the data.

![Python_error](https://user-images.githubusercontent.com/77452966/119228751-b546fb00-bb14-11eb-8f3d-1a136f0cd488.JPG)
[SOLWEIG_input_data.zip](https://github.com/UMEP-dev/UMEP/files/6526517/SOLWEIG_input_data.zip)

Best regards,
J

[2021-05-24 06:27] biglimp commented on #279
What version of UMEP are you using?

[2021-05-24 08:22] j0lsson commented on #279
3.17, and QGIS 3.18.2

[2021-05-24 11:12] biglimp commented on #279
This has been fixed since UMEP 3.17.1. We have not uploaded this to the QGIS repo just jet so please use the development release from this Github. Consult our Manual on how to install.

[2021-05-24 11:12] #279 closed, assigned to nobody

[2021-05-24 11:56] j0lsson commented on #279
Works fine now, thanks!

[2021-06-02 10:50] AnneSawa opened #284 "Daily Shadow Pattern not responding?"
Hi,

I have a dsm raster that I would like to calculate the Daily Shadow Pattern for. When I click run, the
When I try to use the Daily Shadow Pattern tool, QGIS stops responding. It uses almost all of my working memory and I am not sure how to fix it.

I am using QGIS 3.10.14.

[2021-06-02 12:31] biglimp commented on #284
I suspect that this is not an issue so I will move this over too discussions as others could benefit from our discussion.

Three things:
1. What version of UMEP and what operating system are you using?
2. How large is your DSM (rows and columns)? It sounds that you are using a too big raster for your computer memory
3. Try using **UMEP for processing** where the shadow tool also is available. Here

[2021-06-02 12:32] #284 closed, assigned to nobody

[2021-06-13 11:07] Mario0o00 opened #288 "module compiled against API version 0xe but this version of numpy is 0xd"
I had a version conflict while installing the UMEP plugin in QGIS
What should I do to solve this problem?
![6ISNLW59I7E5H{5R% @~V1M](https://user-images.githubusercontent.com/85828355/121804660-17110580-cc7a-11eb-8410-6130b8252a83.png)

[2021-06-14 05:35] #288 closed, assigned to nobody

[2021-06-14 05:37] Mario0o00 commented on #288
I solved

[2021-06-15 14:16] biglimp commented on #271
@sunt05, I uninstalled QGIS and UMEP as well as removing Supy and supy-driver from my system. Then I installed QGIS and installed UMEP from the QGIS repository. Still the same issue where numpy 1.19.1 is not upgraded to 1.20.x used by the supy-driver giving the error below. In other words, installing sypy-driver does not upgrade numpy version on W10. It seems that `pip install numpy --upgrade` is

[2021-06-15 18:09] sunt05 commented on #271
It's a pity that this issue persists...
did you restart your QGIS after running the supy installer in UMEP?
or, I think there are some leftover in your QGIS-python folder that confused python to pick up an older version of numpy, which could occasionally happen.
I guess you were running that situation.

Let me think about this... very very tricky...

[2021-06-16 07:01] biglimp commented on #271
Yes, even restarted whole system. Still same error.

I am thinking of two workarounds:
1. Make the user install specific supy version where numpy 1.19 is used. Probably not a doable option
2. Give users instructions how to upgrade numpy using pip if 1.19 is installed on their system

Nevertheless, we need to do something cos now you get a python error every time you start QGIS. Not nice.

[2021-06-16 07:22] sunt05 commented on #271
So after you manually did this, things would work? That's very weird as our code should do the same thing. I'm wondering there's something else happening at your side.

I tried a new installation of QGIS 3.19 at my side on Mac and found a different issue with the same symptom.

So which QGIS are you using?

[2021-06-16 07:29] biglimp commented on #271
QGIS: 3.18.3
Yes, it works now. Actually, I needed to close QGIS in order to update numpy. I got this error running `pip install numpy --upgrade` when QGIS was open indicating that f2py is blocking the update somehow...

[code]

[2021-06-16 07:31] biglimp commented on #271
I am thinking of something like this:
[code]

what do you think?

[2021-06-16 07:51] sunt05 commented on #271
My concern is if a user can successfully do this as our code is supposed to do the same thing for users.
I guess something else was breaking the update.
Let me try it again here and update you later.

[2021-06-16 08:44] sunt05 commented on #271
I think I identified the issue: the `pip` shipped with this QGIS-python couldn't address the dependency property.
I'll improve the automatic installation code to resolve this: give me a second.

[2021-06-16 09:22] sunt05 commented on #271
added a tentative fix for this: https://github.com/UMEP-dev/UMEP/commit/9d6d2b879d17b494a1ad87e24fb175ba0a42d4c2

[2021-06-16 09:40] #271 closed, assigned to sunt05

[2021-06-18 10:12] TigerMINATO opened #293 "Yes, I am using QGIS with version 3.14 for both."
Yes, I am using QGIS with version 3.14.

_Originally posted by @TigerMINATO in https://github.com/UMEP-dev/UMEP/discussions/292#discussioncomment-887195_

[2021-06-22 06:23] #293 closed, assigned to nobody

[2021-07-01 09:27] biglimp commented on #229
Update on this. The new version of QGIS 3.20 includes a new function where time and date can be more efficiently be included in a processing plugin. I will investigate further

[2021-07-01 11:48] biglimp opened #310 "Cannot install supy using new OSGeo version (QGIS 3.20)"
I cannot use either **pip install supy** outside as well as inside of a QGIS session. Error that comes up when try (I forced the installation to stop as it goes on trying to install other versions of **tables**:

[code]

[2021-07-01 14:45] sunt05 commented on #310
@biglimp please try 2021.7.1 one hour later when it will be online.

[2021-07-02 07:25] S9LOU opened #304 "LQf Python error"
**The bug**
We ran the LQF processor with local data("China Shanghai") following its annual (https://umep-docs.readthedocs.io/en/latest/OtherManuals/LQF_Manual.html#lqf-manual) . However,  it failed.
1.  The first bug is
    addQuotes(x): return "'" + x + "'" ： type error  .
Then we change the source python file to  addQuotes(x): return "'" + str(x) + "'".
2. After changing  RegionalParameters.py,

[2021-07-02 07:52] biglimp commented on #310
Still not possible to install within a QGIS session but now possible to install via OSGeoShell outside of a session.

Maybe this helps:

[code]

[2021-07-02 07:57] biglimp commented on #304
Were you able to go through the London tutorial without any errors?

https://umep-docs.readthedocs.io/projects/tutorial/en/latest/Tutorials/LQF.html#lqf

[2021-07-03 18:29] shahjahan0275 commented on #198
@biglimp, sorry that I have to comment again on this closed issue. I am uploading met data of my hometown Chittagong, Bangladesh. I think this met file doesn't have the line you mentioned in  @DimitrisTsi 's met file. Still it gives me error once I run SUEWS with this met file. Strange thing is that once I tried to run SUEWS with my met file, after that I can't run even the SUEWS simple using the

[2021-07-03 18:31] shahjahan0275 commented on #198
I am using QGIS 3.16 and python 3.9. Regards

[2021-07-06 09:05] S9LOU commented on #304
Hi, thank you for your kind reply. We could go through the London tutorial without any errors, indicating the LQf tool worked successfully.
However, when we double checked our data and python code error, we found some interesting problems with the data type.

1. Firstly, the tool couldn’t deal with the null data in our shapefiles. “TypeError: can only concatenate str (not "QVariant") to str” in ab

[2021-07-13 07:03] DimitrisTsi commented on #12
Hello
I would like to ask a question regarding the use of non rectangular grids.
I want to run the morphometric calculator for the DSM as seen in the attached image for the area denoted by the red polygon.
If i run the morphometric calculator using the polygon in red as the 'vector polygon grid' i get the error
" LINE 216 "if np.sum(dsm_array) == (dsm_array.shape[0] * dsm_array.shape[1] * nd):"

[2021-07-13 11:36] DimitrisTsi opened #305 "Morphometric Calculator (Grid) clarification"
Hello
I would like to ask a question regarding the use of non rectangular
 grids.
I want to run the morphometric calculator for the buildings DSM as seen in the attached image for the area denoted by the red polygon.
If i run the morphometric calculator using the polygon in red as the 'vector polygon grid' i get the error
" LINE 216 "if np.sum(dsm_array) == (dsm_array.shape[0] * dsm_array.shape[1]

[2021-07-16 13:45] rarygit opened #306 "Shadows not generated for canopy height of 1 m (Tree Height 3 m, Trunk space 2 m)"
QGIS version: 3.16.4-Hannover
UMEP plugin v3.17.2
UMEP Processing Plugin v1.3

Having used both SOLWEIG (UMEP) and Shadow Generator (UMEP Processing):  shadows are not properly generated for trees whose canopy height is 1 m. This impacts the Tmrt values for trees whose canopy height is only 1 m.

Attached is zip file containing the log file for UMEP Processing / Shadow Generator, the cdsm, tdsm an

[2021-07-19 17:23] rarygit commented on #305
As I understand it, Issue #12 (Closed, 18 Nov 2016) has resolved this:

"The LandCoverFractionGrid is only working with squared (or rectangular) polygon grids allinged with the CRS used.
This will be fixed so that any shape of grids can be used."
"Resolved. Option to include NoData values included."

https://github.com/UMEP-dev/UMEP/issues/12

From this one could deduce that masking the Land Cover

[2021-08-04 13:28] C-H-Simpson commented on #277
I'm getting this same error

OS: Windows 10
QGIS: 3.20.1
UMEP: 3.17.3
SuPy version: 2021.7.22
Python version 3.9.5

[2021-08-10 13:11] ML426 opened #309 "BUGS when installing UMEP on QGIS 3.16.8"
### Discussed in https://github.com/UMEP-dev/UMEP/discussions/308

<div type='discussions-op-text'>

<sup>Originally posted by **ML426** August  9, 2021</sup>
[code]

[2021-08-10 13:45] biglimp commented on #306
I assume when you write canopy height you mean crown height? This seems to be a rounding issue somewhere in the code. I will check when I find the time.

[2021-08-10 14:23] biglimp commented on #306
Can you please also attach your DSM

[2021-08-11 09:27] suegrimmond commented on #304
Does you python suggested fix work? I.e. did you try it?

[2021-08-12 14:28] sunt05 commented on #310
just had a test with QGIS3.20.1 on Mac  and got no issue: UMEP works smoothly with required python dependencies installed as expected during the initialisation.

just reading through the error message again and found this line suspicious:

[code]

@biglimp can you try to run this line in your windows OSGeo terminal and let us know the results?
[code]

[2021-08-13 07:37] rarygit commented on #306
Thanks for replying!

Yes, crown height

I temporarily circumvented the problem by reducing the trunk height for the "pergola" structures to 1 m H.
Attached are both the cdsm and tdsm files.

You can use the Serval plugin to change those "rectangular pergola" trunk heights to 2 m, thereby reducing the pergola crown height to 1 m.

[RASTER_Trees.zip](https://github.com/UMEP-dev/UMEP/files/6980663/R

[2021-08-13 08:09] biglimp commented on #310
I tried and **pythonw.exe** didnt work. I changed to **python.exe** and got the following error:

![image](https://user-images.githubusercontent.com/11908356/129325200-de02e1bc-90dc-4475-97df-54220b417e30.png)

However, if I use `pip install netCDF4`, the package is installed without errors.

[2021-08-13 08:11] biglimp commented on #306
Nevertheless, your first example should be possible.

Could you also send me your DSM so that I can try.

[2021-08-13 08:57] rarygit commented on #306
Sure, here are all the relevant files attached.
I tested them just now with UMEP Daily Shadow Pattern

You can see the differences in shadows, e.g. 14:00 between the two sets of DSM files.

The DSM "fail" folder contains the 2 m trunk height
The other folder has trunk height at 1 mH and works OK. But the trunk height is impractical ...

I have also included other files, if it helps to make sense w

[2021-08-14 11:13] MartinaFrid opened #312 "Spatial data downloader tool is no longer in use"
Hi

In the 'Urban Energy Balance - SUEWS and WUDAPT' tutorial (https://umep-docs.readthedocs.io/projects/tutorial/en/latest/Tutorials/SuewsWUDAPT.html#), the first step in the Population density section, you are told to open the Spatial downloader. This tool is no longer in use, and you are asked to visit UMEP FAQ.

![image](https://user-images.githubusercontent.com/85220147/129444037-807ed270-2c2

[2021-08-15 02:42] rarygit commented on #309
I'm using Qgis from anaconda platform (but i had the same problem without anaconda)

Although this issue has been answered in Discussion, I have some comments regarding using a conda environment in both Windows and Linux for QGIS and UMEP.

I always use miniconda (minimal conda), and never Anaconda as the package manager.
Although Anaconda has a nice shiny interface, I often found it throwing conf

[2021-08-15 07:52] MartinaFrid opened #313 "Missing figure in the Urban Energy Balance - SUEWS and WUDAPT tutorial"
Fig. 48 - 'Settings for the LCZ converter plugin' is not shown in the 'Urban Energy Balance - SUEWS and WUDAPT' tutorial.

![image](https://user-images.githubusercontent.com/85220147/129471220-306fb067-2960-4fc0-a15e-0fef58a2a9be.png)

[2021-08-16 07:17] biglimp commented on #313
That image didnt add any needed info so it has been removed.

[2021-08-16 07:17] #313 closed

[2021-08-16 07:32] biglimp commented on #309
Many thanks @rarygit for this detailed info! Would it be possible for to also add this into Discussion #308 so that other people can find it more easily also?

[2021-08-16 09:29] rarygit commented on #309
@biglimp  Yes certainly!

UMEP and all the opensource tools on UMEP-Dev are great to use.
And I have found miniconda a relatively painless way to stabilise python package conflicts.

[2021-08-16 09:34] rarygit commented on #309
I copied and pasted it to the Discussion #308

[2021-08-17 14:12] #309 closed, assigned to nobody

[2021-08-18 07:58] biglimp commented on #310
@sunt05, your pull request only worked halfway.

Actually, I found that it is not QGIS version that decides where the python is located, it is the actual python version. Hence, we should check for python version and if we have 3.9 should do as we do now, when we identify QGIS 3.20. If lower version of python we should use the old location of python.

I noticed this as I installed the long term ver

[2021-08-18 11:56] biglimp commented on #310
Fixed. Now Python version is used instead of QGIS version

[2021-08-18 11:56] #310 closed, assigned to sunt05

[2021-08-18 12:25] #305 closed, assigned to nobody

[2021-08-18 13:33] biglimp commented on #306
Just to let you know that I have not forgot about this.

Now I think I know what is happening. Now I just need to try to find a solution.

It has actually nothing to do with the fact that the crown height is 1 meter or less. It has to do with that during one iteration of the shadowcasting algorithm, both the cdsm and the tdsm becomes negative AND that it is not the first iteration cos for that I h

[2021-08-23 14:26] rarygit commented on #306
Thanks for replying! I was away for the week and returned yesterday.

I will follow along with your description and the function shadowingfunction_20 found in Utilities/shadowingfunctions.py

[2021-08-24 13:53] C-H-Simpson commented on #277
In case anyone else has this problem: Commenting out line 103 of UMEP/SUEWSPrepare/prepare_worker.py was enough to make it run for me.

[2021-08-29 21:57] Jsas1 opened #316 "Error using DSM generator"
Hi,

I have the following error using DSM Generator :

AttributeError: 'NoneType' object has no attribute 'ReadAsArray'
Traceback (most recent call last):
  File "C:\Users/Juliana/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\DSMGenerator\dsm_generator.py", line 645, in start_progress
    dsm_array = np.array(dsm_raster.ReadAsArray().astype(np.float))
AttributeError: 'NoneType' o

[2021-08-29 22:44] Jsas1 commented on #316
Hello again,

The error has already been fixed. In fact, it was caused by oversight. I forgot to select the "extent from layer" in the dialog box.
Now the software worked fine. Forgive me for the misunderstanding.

Thanks

[2021-08-30 06:09] #316 closed, assigned to nobody

[2021-08-30 10:00] biglimp commented on #306
Well, I might have solved this. This algorithm was written long time ago and it took some time to get into the code again. I would be very grateful if you could test the code before I release it. I have pushed UMEP to a branch called PergolaShadows where the new shadow algorithms are included.

[2021-08-30 11:49] rarygit commented on #306
Thanks for working on this!

It failed the first crown height test (i.e. height = 1 m) for the pergolas, as attached.
I think there are shading artifacts associated where trunk height = 0.5

[CrownHeight_Test1.zip](https://github.com/UMEP-dev/UMEP/files/7076438/CrownHeight_Test1.zip)

![Test1_Result_1200PM_cdsm_Fail](https://user-images.githubusercontent.com/16574504/131334579-2a852051-57f5-4699-9

[2021-08-30 11:52] biglimp commented on #306
I dont see where it has failed. The pergolas at the top has shadows?

[2021-08-30 12:01] rarygit commented on #306
The tdsm and cdsm shapefiles (in red outline) show the location of the rectangular pergolas.
The pergolas are located at bottom RHS.
Are are looking at the rectangular building shadows at the top?

I can send the building shapefile as well, if you need it?
I thought the cdsm and tdsm outlines would be easier to detect where the shadows have artifacts.

[2021-08-30 12:02] rarygit commented on #306
There are also some small trees and small pergolas elsewhere, that have a crown height = 1 m

The comparatively larger pergolas are easier to detect. But they are not located at the top of these images.

[2021-08-30 12:02] biglimp commented on #306
There is a building there according to the DSM you send before.

![image](https://user-images.githubusercontent.com/11908356/131336300-f219c82e-18ea-491e-ba0c-ae6eb19a848e.png)

[2021-08-30 12:06] rarygit commented on #306
Yes, so in the images I sent there shouldn't be a 1 m wide strip of shadows missing or cut-out from the shading.
I will show the place on your image.

![With Buildings_Pergolas_Shown](https://user-images.githubusercontent.com/16574504/131337218-74520d6b-2b5b-4762-b536-5f74021dd473.png)

[2021-08-30 12:23] rarygit commented on #306
And here is a comparison with the crown height = 2 m (it is a slightly modified pergola outline).

Even though the pergola outlines are different, I am seeing a strip cut away from the shading.
Where crown height = 2 m, I am seeing a relatively solid black shading where the trunk height = 0.5 m

![Not_This](https://user-images.githubusercontent.com/16574504/131337902-8aec9a5a-b30e-4cf5-b503-23879f

[2021-08-30 12:23] biglimp commented on #306
Ok, Now I see. I will investigate.

[2021-08-30 12:28] rarygit commented on #306
As above, which is the bottom of the original image I posted, slightly to the right.
Can you load the tdsm and cdsm shapefiles and check the shadows?

Three quasi blue arrows for the location:

![three blue arrows](https://user-images.githubusercontent.com/16574504/131338896-d7c6bb0d-8518-4e5f-9aba-ebcc5a181d99.png)

[2021-08-30 12:35] biglimp commented on #306
One question before I move on. Do you tick in "facade shadow"?

[2021-08-30 12:57] rarygit commented on #306
Ok, I generated these shadows using SOLWEIG and not the Daily Shadow Pattern.
But your question made me check again  ;- )

[2021-08-31 12:15] biglimp commented on #306
Just push a new version to the PergolaShadows branch. Please try it out. I have to think if this is the way to go. What this version will do is, that in some cases you will see one pixel longer shadows from some vegetation units. This is a philosophical issue. Before I always produced shadows that were rounded downwards i.e., shorter shadows by one pixel. Now it is the other way around...

[2021-08-31 13:42] biglimp commented on #306
Hold on. There is something strange with the facade version (solweig). I will look into it. In the meantime, you can test the DailyShadowPattern without facade shadows

[2021-08-31 14:21] rarygit commented on #306
Your new version pushed today I call test2 - and it seems to be working much better than yesterdays test1 version.
What do you think?

I have attached the Daily Shadow Pattern results (no facade shadows) as zip files.

[DailyShadowPattern_test1.zip](https://github.com/UMEP-dev/UMEP/files/7084618/DailyShadowPattern_test1.zip)
[DailyShadowPattern_test2.zip](https://github.com/UMEP-dev/UMEP/files/708

[2021-08-31 14:21] biglimp commented on #306
Ok, now it should be fixed so that facade shadows works also.

[2021-08-31 14:22] rarygit commented on #306
Great, thanks for that!

[2021-08-31 14:23] biglimp commented on #306
Yes, now it looks better.

[2021-08-31 14:24] biglimp commented on #306
Please try some different cases and see if you find some strange behaviour

[2021-08-31 14:50] rarygit commented on #306
I will -- now I take a break and test it later when I come back.

[2021-09-10 12:52] gusbacos opened #320 "SUEWS Prepare Python 3.9 QGIS3.20"
**Describe the bug**
SUEWS prepare does not start, but only produces Python Error.

`AttributeError: 'ElementTree' object has no attribute 'getiterator'
Traceback (most recent call last):
  File "C:\Users/xbacos/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\UMEP.py", line 411, in SUEWS_Prepare
    sg = SUEWSPrepare(self.iface)
  File "C:\Users/xbacos/AppData/Roaming/QGIS/QGIS3\pr

[2021-09-11 14:39] rarygit commented on #320
Alternatively switch to python package odfpy and read in libreoffice worksheet, which uses open document format.

https://pypi.org/project/odfpy/
https://datascientyst.com/read-excel-opendocument-ods-python-pandas/
https://github.com/softhints/Pandas-Tutorials/blob/master/excel/2.read-excel-opendocument-ods-python-pandas.ipynb

[2021-09-13 13:22] biglimp commented on #320
This is probably since versions changed from Python 3.7 to 3.9 in OSGeo. I think I have an solution soon...

[2021-10-05 12:57] rarygit commented on #306
Testing code:  https://github.com/UMEP-dev/UMEP/tree/PergolaShadows

There seems to be slightly strange behaviour between paired time intervals,
where the tree shadows change but not the pergola shadows, which remain fixed.

In particular 12:00 - 12:30 and 10:00 - 10:30

At some time periods, the pergola shadows have individual pixels which remain unshaded. These might be/not artifacts.

I have at

[2021-10-05 15:16] biglimp commented on #306
As this is a raster-based method and it could probably happen, that shadows do not change where other tree shadows change since the pergolas are close to ground and movement of the shadow is small.

[2021-10-06 10:10] rarygit commented on #306
Then we can ignore these artifacts as trivial in terms of the POI output;
and will the testing code: https://github.com/UMEP-dev/UMEP/tree/PergolaShadows will be merged into master?

In the interim I will test the pergola method on a Tutorial dataset and will only report back if there is a significant anomaly.

Thanks for the work to fix this!
Should we take this as a solution for now?

[2021-10-06 10:16] biglimp commented on #306
Yes! I will include it in the next update of the model. Thanks for your detailed analysis of this issue.

[2021-10-06 10:16] #306 closed, assigned to nobody

[2021-10-06 10:17] biglimp commented on #320
This was temporally fixed by switching to xls instead of xlsx files. Should maybe be fixed more thoroughly in the future.

[2021-10-06 10:17] #320 closed, assigned to nobody

[2021-10-19 06:50] 4estone opened #323 "Install on 3.16 failed"
**Describe the bug**
Install failed

**To Reproduce**
Install plugin
[code]

**Desktop (please complete the following information):**
 - OS: W10
 - QGIS Version 3.16
 - UMEP Version 3.18

[2021-10-19 07:02] biglimp commented on #323
Please look at the Discussions section,  #319 .

[2021-10-19 12:55] HibaHamdi09 opened #324 "pre processor - wall height and aspect"
the button "run" in the wall height and aspect generator doesn't work. I put the DSM (downloaded from the test dataset https://urban-meteorology-reading.github.io/) but it doesn't work.

[2021-10-19 13:04] biglimp commented on #324
I just tried the tool with the Gothenburg DSM and it worked fine. Can you please be more specific. Which one of the DSMs are you using? What version of UMEP and QGIS? What operation system are you using?

[2021-10-19 13:08] HibaHamdi09 commented on #324
thank you for your reactivity and i am sorry, my request was not clear.
- i work with DSM_KRbig (Goteborg)
- Qgis 3.16
- UMEP 3.18

[2021-10-19 13:12] biglimp commented on #324
What is your error message?

[2021-10-19 13:19] HibaHamdi09 commented on #324
there is no error message, i can't press the button "Run". The button is grey.

[2021-10-19 13:23] biglimp commented on #324
HAve you added a path to the output files? When this is done, the run-button becomes active.

[2021-10-19 13:33] HibaHamdi09 commented on #324
OK. Thank you. It works now. I put the directory at first but i think i made a mistake in the directory, that's why it didn't work.
Thank you so much!

[2021-10-19 13:34] #324 closed, assigned to nobody

[2021-10-28 15:49] MarcoGIT36 opened #329 "Irradiance on roofs SEBE"
The irradiances calculated by SEBE on buidings' roofs are calculated on a plane perpendicular to the sunrays or considering directly the plane of the roof?

[2021-10-29 06:01] #329 closed, assigned to nobody

[2021-11-04 07:41] biglimp commented on #201
@oliver-michels, can I close this issue?

[2021-11-05 11:28] Empanag opened #336 "problem with SUEWS prepare"
**Describe the bug**
i try to open SUEWS prepare from UMEP plugin at QGIS and i get the following message

i tried for these versions of QGIS

3.16.8
3.18.1
3.20.3

UMEP v 3.18

**Screenshots**
![image](https://user-images.githubusercontent.com/61833032/140503193-3f79006d-6c56-445b-8d4f-6044d9e48ee6.png)

[2021-11-05 14:56] biglimp commented on #336
I think we solved this in the new version but this is only in the development release e.g. not in QGIS repository. Try install as decribed in https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#installing-development-release-could-be-unstable, or wait until we create a new version for the QGIS repo.

[2021-11-11 16:52] oliver-michels commented on #201
Yes, this can be closed.
Thank you.

[2021-11-12 08:18] #201 closed, assigned to nobody

[2021-11-12 08:18] #323 closed, assigned to nobody

[2021-11-22 09:03] biglimp opened #343 "add uwg to dependent python libs"
Can we add uwg in the setup? I am about to upload new version of UMEP where this is required.

[2021-11-22 12:48] sunt05 commented on #343
is this the package to be included?

https://pypi.org/project/uwg/

[2021-11-22 12:49] biglimp commented on #343
yes

[2021-11-22 12:50] sunt05 commented on #343
OK, as this package is not a supy dependency, I'll add that to the UMEP part.

[2021-11-22 12:54] biglimp commented on #343
Ok, sounds good. Where is that actually added?

[2021-11-22 13:28] #343 closed, assigned to sunt05

[2021-12-02 15:08] #219 closed, assigned to nobody

[2021-12-06 15:41] biglimp commented on #229
The datetime functionality has now been incorporated in the shadow casting algorithm in UMEP for processing (https://github.com/UMEP-dev/UMEP-processing/issues/10). There you can set the dates and times more specifically by e.g. doing a batch process or write a small script. Thus, I will close this issue here.

[2021-12-06 15:41] #229 closed, assigned to nobody

[2021-12-21 13:46] shovals123 opened #346 "shadow generator not gives all files results for a full day calculation"
hi,
I'm using umep version 3.18 and Qgis version 3.16.14.
I have an error with shadow generator when creating a daily shadow pattern. I get the following message (for a full day calculation):
 warning:C:/Users/Shoval/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\ShadowGenerator\shadow_generator.py:262: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`.

[2021-12-21 13:51] biglimp commented on #346
What CRS are you using?
We are about to update the tool very soon. Then your issue with numpy float should be fixed.

[2021-12-21 14:00] shovals123 commented on #346
***@***.***

From: biglimp ***@***.***>
Sent: Tuesday, December 21, 2021 3:52 PM
To: UMEP-dev/UMEP ***@***.***>
Cc: Shoval Simon ***@***.***>; Author ***@***.***>
Subject: Re: [UMEP-dev/UMEP] shadow generator not gives all files results for a full day calculation (Issue #346)

What CRS are you using?
We are about to update the tool very soon. Then your issue with numpy float should be fixed.

—
Re

[2021-12-22 09:18] biglimp commented on #346
?
CRS means Coordinate Reference System. You find it in lower right corner of your QGIS project.

[2021-12-22 11:17] shovals123 commented on #346
I have changed the CRS to the local projection. This solved the problem. Thank you.

[2021-12-22 11:17] #346 closed, assigned to nobody

[2021-12-22 11:22] shovals123 opened #347 "UMEP installation error in QGIS 2.18"
**Describe the bug**
I am trying to open the UMEP plug-in in Qgis 2.18. When I try to install it in the Plugin Manager, I receive the following alert:
"This plugin is broken
cannot import name NUMPY_MKL"

**Desktop (please complete the following information):**
 - OS: Windows 10 Home
 - QGIS Version 2.18.28
 - UMEP Version - from 2.18 Plugin Library
 - SuPy Version - uncertain.

**Screenshots**
![

[2021-12-22 11:52] biglimp commented on #347
UMEP 3.x is only available in QGIS 3.x. To make UMEP work you need the install an old version of UMEP (2.x).

[2021-12-22 11:52] #347 closed, assigned to nobody

[2021-12-22 13:40] shovals123 commented on #347
From: biglimp ***@***.***>
Sent: Wednesday, December 22, 2021 1:52 PM
To: UMEP-dev/UMEP ***@***.***>
Cc: Shoval Simon ***@***.***>; Author ***@***.***>
Subject: Re: [UMEP-dev/UMEP] UMEP installation error in QGIS 2.18 (Issue #347)

UMEP 3.x is only available in QGIS 3.x. To make UMEP work you need the install an old version of UMEP (2.x).

Hi,

Thanks for the quick response.

As I understand it, t

[2021-12-22 13:51] biglimp commented on #347
You can easily install zipped versions from our github using the "Install fron Zip" in QGIS (Plugins>Manage and Install Plugins).

[2021-12-22 14:20] shovals123 commented on #347
Hi,

I ama aware of that function in later versions of the QGIS but it isn’t available in QGIS 2.

Thanks once again.

From: biglimp ***@***.***>
Sent: Wednesday, December 22, 2021 3:51 PM
To: UMEP-dev/UMEP ***@***.***>
Cc: Shoval Simon ***@***.***>; Author ***@***.***>
Subject: Re: [UMEP-dev/UMEP] UMEP installation error in QGIS 2.18 (Issue #347)

You can easily install zipped versions from our g

[2021-12-22 14:36] #336 closed, assigned to nobody

[2022-01-26 00:49] phemiobe opened #355 "UMEP installation error"
I have tried to install UMEP plugin several times ...all efforts is proving abortive. Even with the newest version 3.19.1. I have attached screenshot. I need help please as I have run out of ideas. I have also tried different versions of QGIS

![UMEP installation error](https://user-images.githubusercontent.com/97770101/151083884-72f72d67-db39-485a-a728-de4d7a28d1b2.PNG)

[2022-01-26 00:50] phemiobe commented on #355
ModuleNotFoundError: No module named 'packaging'
Traceback (most recent call last):
  File "C:/OSGEO4~1/apps/qgis/./python\qgis\utils.py", line 335, in _startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "C:/Users/User/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\processing_umep\__init__.py", line 38, in classFactory
    from .processing_umep import ProcessingU

[2022-01-26 07:34] biglimp commented on #355
This is because you have an older version of QGIS (3.16). You have two options:
1. Upgrade QGIS to at least 3.20 (3.22 is the latest one)
2. Install **packaging** via the OSGeo shell `pip install packaging` Following the instructions given at https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#adding-missing-python-libraries-and-other-osgeo-functionalities

[2022-01-26 09:21] phemiobe commented on #355
Thank you so much. I got it resolved by downloading the latest version..

[2022-01-26 09:45] #355 closed, assigned to nobody

[2022-01-26 15:33] phemiobe opened #356 "ERROR WHILE TRYING TO RUN LCZ CONVERTER"
Hello,

Please I have the following error while trying to run the LCZ converter, The programme did not run but instead gave the error below. Kindly help ....

An error has occurred while executing Python code:

KeyError: '-1'
Traceback (most recent call last):
  File "C:\Users/User/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\LCZ_Converter\LCZ_converter.py", line 669, in start_p

[2022-01-26 15:50] Johnyan0000000 opened #357 "Unable to download UMEP from QGIS (Urgent)"
**Describe the bug**
After i installed UMEP, it states that" Python error : Couldn't load plugin 'ale' due to an error when calling its classFactory() method See message log (Python Error) for more details."

the UMEP function could not function in my QGIS. Please help

**To Reproduce**
PYTHON error
2022-01-26T23:42:27     CRITICAL    Traceback (most recent call last):
              File "C:\PROGR

[2022-01-27 10:07] biglimp commented on #357
I would recommend to update QGIS. If that is not possible on your system, please let me know.

[2022-01-27 10:15] biglimp commented on #356
1. What version of UMEP are you using?
2. What data are you using? If you are using your own produced data, please try the converter using the date in this tutorial: https://umep-docs.readthedocs.io/projects/tutorial/en/latest/Tutorials/SuewsWUDAPT.html#suewswudapt
3. Based on the error message, you are having an issue with the attribute field in your polygon grid. Make sure you use an attribute f

[2022-01-27 22:59] Johnyan0000000 commented on #357
Sorry, may I know how could I update the software? I download the update
file  from the website?

On Thu, 27 Jan 2022 at 10:07, biglimp ***@***.***> wrote:

[2022-01-28 08:07] biglimp commented on #357
Yes, that is one possibility. I also think you should have a setup shortcut in your start menu that you can use. Take a look at https://umep-docs.readthedocs.io/en/latest/Getting_Started.html

[2022-02-04 09:28] bweeding opened #365 "Perez_v3 output issue (SOLWEIG)"
I'm getting incorrect outputs from Perez_v3, which have showed up in kdown and Tmrt. I’m supplying my own diff and dir radiation (from the Australian Bureau of Meteorology’s BARRA reanalysis product). I’ve traced the errors all the way back to the Perez_v3 function in Solweig_2021a_calc:

lv = Perez_v3(zenDeg, azimuth, radD, radI, jday, patchchoice)   # Relative luminance

The inputs for Perez_v3

[2022-02-04 10:02] biglimp commented on #365
Thanks Ben. We should try to identify when this happens. It would be good if you can try to identify a pattern, e.g. when radI and radD is very similar or at high zenith angles etc. I would be good to also know radG at these occasions, as well as times of day.

Can you also proved an inputexample when this happens, e.g. all info needed (metfile, location etc.)

[2022-02-04 10:04] bweeding commented on #365
I'll have a go at some deeper analysis first thing on Monday!

On Fri, 4 Feb 2022, 21:02 biglimp, ***@***.***> wrote:

[2022-02-04 11:41] nilswallenberg commented on #365
Hi Ben,

Do you know if your input radI is for a horizontal surface or perpendicular to sun's beam? It should be perpendicular to the sun's beam. If the input is on a horizontal surface it is easy to change it to perpendicular with one line of code.

radI[i] = radI[i]/np.sin(altitude[0][i] * np.pi/180)

This line should be then be added to the solweig_algorithm.py just before so.Solweig_2021a_calc

[2022-02-05 00:29] phemiobe opened #366 "SUEWS PREPARE DOES NOT GENERATE-list index out of range"
Hello, I am using suews prepare in the UMEP pre-processor to generate inputs to run SUEWS . I was able to prepare the met data from ERA5 and the grids as described in the tutorial. However, I encountered the error pasted below in suews prepare. Can anyone kindly assist? Thanks for your time..the main error is list index out of range.

Operations cancelled, process unsuccessful! See the General tab

[2022-02-07 07:56] biglimp commented on #366
An update in the Morphometric calculator was recently added where also wai (wall area index) was included. Regenerate your building morphology file using the lastest UMEP version and try again.

[2022-02-07 10:02] phemiobe commented on #366
Thanks @biglimp

I have the latest version installed yet the wai was not calculated.  I have attached the LCZ_build_MPGrid_isotropic.txt file
[LCZ_build_MPGrid_isotropic.txt](https://github.com/UMEP-dev/UMEP/files/8014191/LCZ_build_MPGrid_isotropic.txt)

Installed version	3.19.1
Available version (stable)	3.19.1 updated at Tue Jan 18 07:36:04 2022
Changelog	3.19.1: Removed import of geopandas whic

[2022-02-07 10:13] biglimp commented on #366
Could it be possible that you calculated this file in an earlier version. I chacked the code and wai should be included (https://github.com/UMEP-dev/UMEP/blob/eda97006d7304bdfd6ae6ef565ff3a7ce8908ea9/ImageMorphParam/impgworker.py#L275). Please recalculate and report back.

[2022-02-07 11:21] phemiobe commented on #366
I have recalculated it, yet no wai.
here is the header
 ID  pai   fai   zH  zHmax   zHstd  zd  z0
  1 0.003 0.002 0.070 0.140 0.032 -9999.000 -9999.000
  2 0.002 0.002 0.051 0.102 0.023 -9999.000 -9999.000

[LCZ_build_MPGrid_isotropic.txt](https://github.com/UMEP-dev/UMEP/files/8014737/LCZ_build_MPGrid_isotropic.txt)

[2022-02-07 12:20] biglimp commented on #366
I cannot replicate your error. Here is a file that I calculated just now using Morphometric Calculator (Grid), UMEP 3.19.1.

[code]

I suggest you uninstall and reinstall UMEP

[2022-02-07 12:50] phemiobe commented on #366
Thanks. I have uninstalled and installed yet no wai. dont just know why mine isnt working....
to replicate my error. I used Lagos Nigeria LCZ from wudapt. the vector grid is created from  GPWv4 pop density from (WCS) for 2010 (with 5000m grids resolution at the LCZ map extent).

and then used the default parameters for the LCZ in the LCZ converter.. and set the pervious distribution to same for al

[2022-02-07 12:51] phemiobe commented on #366
![set up](https://user-images.githubusercontent.com/97770101/152791447-752eeb00-ff5b-4606-9263-f555345365d0.PNG)

[2022-02-07 14:18] biglimp commented on #366
Aha, now I see. WE have forgotten to include **wai** in the output from the LCZ converter. This will not be a quick fix as we need to come up with numbers of this parameter for each LCZ.

[2022-02-07 15:40] phemiobe commented on #366
thanks for your quick response. In the mean time what do you suggest I do? which DSM did you use to calculate the morphometric properties here..

id pai fai zH zHmax zHstd zd z0 wai
  1 0.212 0.331 8.176 17.265 3.736 5.723 0.818 0.338
  2 0.177 0.191 10.838 26.701 4.202 7.586 1.084 0.319

can I use SRTM?

[2022-02-07 15:43] phemiobe commented on #366
![Morphometric](https://user-images.githubusercontent.com/97770101/152821337-fcb151b2-56c8-44fe-b9e1-cda33629316f.PNG)

[2022-02-07 16:23] biglimp commented on #366
I quickfix is to just manually add a wai-column in your LCZ_build_MPGrid_isotropic.txt and specify 1.0. If you are using standard settings in SUEWS, wall area is not used. IT is only used if you calculate storage with the ESTM-scheme, which you probably dont.

[2022-02-07 17:11] phemiobe commented on #366
O yeah. you are making sense sense.. it works . I am able to generate SUEWS prepare. However, I encountered another error in running SUEWS advanced..

"SuPy stopped entering simulation due to invalid initial states!"

Check: C:\Users\User\Documents\SuPy.log

Please report any errors to https://github.com/UMEP-dev/UMEP/issues

Please find below the tail of supy.log
 [0] at index `292`
`enddls` shou

[2022-02-07 17:12] phemiobe commented on #366
supy.log file is attached
[SuPy.log](https://github.com/UMEP-dev/UMEP/files/8017270/SuPy.log)

[2022-02-08 03:14] bweeding commented on #365
Hi Nils, in addressing the issue I think I found another one at my end which I have solved. I'll deal with that first.

I realised that because I'm using hourly mean data, I should be using timestamps on the half hour, so that I get an average sun position from the model as well. Therefore my data which is the average from 1300 to 1400 is stamped 1330 instead of 1300. You can see in the figure bel

[2022-02-08 07:28] biglimp commented on #366
@sunt05, can you assist with the SuPy issue.

[2022-02-08 09:21] sunt05 commented on #366
this looks to me to be an issue due to incorrect setting in `SiteSelect`, where [`EndDLS`](https://suews.readthedocs.io/en/latest/input_files/SUEWS_SiteInfo/Input_Options.html?highlight=enddls#cmdoption-arg-EndDLS) is set with something outside of the valid range [1,366].

[2022-02-08 14:24] phemiobe commented on #366
Thats true I initially used 0 as the start and end of my DLS because Lagos (my ROI) has no DLS. and then I have the supy error. I afterward used the defaults values 85 and 302 and it works.

Thanks

[2022-02-08 14:29] #366 closed, assigned to sunt05

[2022-02-10 09:00] bweeding commented on #365
### Investigation of strange results

I've produced two runs of a 50m by 50m tile from 2016 through 2018 using hourly mean reanalysis data.

![image](https://user-images.githubusercontent.com/57697604/153359092-d5d64962-8703-4b83-8996-48c9cf2b21b9.png)
As you can see, the seasonality in Tmrt is well represented, although there are two timestamps with extremely low average Tmrts that are clearly er

[2022-02-10 13:30] nilswallenberg commented on #365
There are a few things you could do or check:

1. Compare global radiation with I0 to check if you are off in time (does the reanalysis correct for daylight saving, etc, and how it is treated in your SOLWEIG run?). If you compare global radiation and I0 on a clear day (one in winter and one in summer) they should more or less match.

2. The example from 2PM on January 21st:
zendeg: 22.940787488281

[2022-02-11 03:52] bweeding commented on #365
Hi Nils, I'm sure we can solve it!

I checked the I0 and global and there was indeed a mismatch occurring during winter!
![image](https://user-images.githubusercontent.com/57697604/153528566-32254499-bc6b-4ae5-b2c2-ca71f46bbe2f.png)
This was due to me using a local time conversion which included daylight savings. I fixed this by using a set offset of 11 hours:
![image](https://user-images.githubus

[2022-02-11 08:42] biglimp commented on #365
Great Ben! Looks like you sorted out almost all strange values. Is the last maps is from a time step where you have strange data? If everything is ok, no NaNs should be present.

[2022-02-11 08:56] bweeding commented on #365
Thanks! The last maps are normal timestamps, but when I calculate UTCI using xarrays, I also set the Tmrt values of all the building locations to NaN so I'm only dealing with pedestrian accessible data for analysis.

[2022-02-12 20:26] langford77840 opened #369 "lc_grid and lc_class"
Could I know what lc_grid and lc_class in "def Tgamps_v1" in Tgmaps_v1.py are?

I'd like to use this function but not clear what these variables are.
It'd be really helpful if you just give me a brief example of these variables.

Thanks in advance for your consideration.

[2022-02-14 09:04] #369 closed, assigned to nobody

[2022-02-14 23:15] phemiobe opened #371 "Unable to allocate 5.66GiB space"
Hello UMEP community,
When running the SUEWS model with 9842 grids at 1km resolution; I have this error.

[code]

Does this meant that the capacity of my machine is insufficient?

[2022-02-15 01:01] phemiobe opened #372 "SUEWS ANALYSER ERROR"
Hello,
In visualising the spatial model output using the SUEWS analyser, the error pasted below comes up.  the python programme is searching for a particular file which I dont have. I have 336 grid points and 336 output files. the program is searching for **Suews_output2000//337_2000_SUEWS_60.txt**.  when my last output file is Suews_output2000//336_2000_SUEWS_60.txt. I even tried to copy and rena

[2022-02-15 07:33] biglimp commented on #372
The ID from the vector grid is used as counter here. Make sure that you use the same grid as you used to prepare your input files. How many grids does your polygon layer consistof?

[2022-02-15 08:23] sunt05 commented on #371
Hi @phemiobe , you guess is right: this looks to me to be a memory issue.
Please try to reduced the number of simulation grids.

Also, please report your supy version info by running `supy.show_version()` in the QGIS python console so I can better help you if further issue appears.

[2022-02-15 12:20] phemiobe commented on #372
I have always used thesame grid as used in the input files. My polygon Layer consist of 336 grid points.

[2022-02-15 12:42] biglimp commented on #372
And your ID attribute starts from 1?

[2022-02-15 12:59] phemiobe commented on #372
yes, starts from 1 to 336

[2022-02-15 13:04] biglimp commented on #372
Ok, can you attach the input files, output files and your vector grid in a zipped file for me to have a look at.

[2022-02-15 14:13] phemiobe commented on #372
Unfortunately, I find it difficult to attach zip file here. I however rerun the model  and I got this error when I tried to visualise the output

 File "C:\Users/User/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\SUEWSAnalyzer\suews_analyzer.py", line 575, in spatial
              self.rasterize(str(polygonpath), str(self.plugin_dir + '/tempgrid.tif'), str(poly_field), resx, crs,

[2022-02-15 14:30] biglimp commented on #372
This is progress. Now the code has come to a point where all grids have been analysed without error. I think your new error is related to a bug in the path to the vector grid. I have pushed an update so try to install the development release and see if it works. Alternatively, you can try out the **SUEWS Analyser** in **UMEP for processing** instead.

[2022-02-15 21:42] dounia43 opened #373 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe8 in position 63: invalid continuation byte"
I have the following error message every time I try to open a meteorological data file (loaded from the Copernicus program) using the plugin UMEP in QGIS. How can I fix it? I am a beginner in Python.

the meteo file is attached here,
[meteo.zip](https://github.com/UMEP-dev/UMEP/files/8078569/meteo.zip)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe8 in position 63: invalid continuation b

[2022-02-16 07:26] biglimp commented on #373
Please attach your file so that I could tryit out.

[2022-02-16 10:18] dounia43 commented on #373
the meteo file is attached here,
[meteo.zip](https://github.com/UMEP-dev/UMEP/files/8078922/meteo.zip)

[2022-02-16 14:44] biglimp commented on #373
You are trying to use a netCDF-file directly into UMEP. That is not possible. You should convert it into a text file and then run it through a MetDataProcessor OR download ERA5 data via the ERA5 Download tool in UMEP which will convert nc-files directly into UMEP-formatted meteorological files.

[2022-02-16 14:44] #373 closed, assigned to nobody

[2022-02-17 15:19] biglimp opened #375 "ERA5 Download error"
I get the following error trying to download ERA5 data through UMEP for processing. Sems like a supy error...

Any idea?

[code]

[2022-02-17 17:02] sunt05 commented on #375
This seems to be an upstream issue in either CDSAPI or `tqdm` (a progress bar tool).
@biglimp do you have a code snippet for me to reproduce this error?

[2022-02-18 08:51] biglimp commented on #375
[code]

Hm, I wonder if I need to use pathlib to get a valid path...

Also, the CDSAPI is mostly super slow. Is that something we have to live with? Why do you think this tool is so fast. Is the data pre-processed (https://shinyweatherdata.com/)?

[2022-02-18 12:07] biglimp commented on #375
I solved it using pathlib

[2022-02-18 12:07] #375 closed, assigned to sunt05

[2022-02-18 12:33] sunt05 commented on #375
Great to know it can be solved in such a simple way: sorry didn't get a chance to look at that yet.
So I might also add a lighter wrapper in `supy` to deal with this if a pure string path is passed in.

[2022-02-20 12:14] dounia43 opened #376 "SUEWS prepare error"
Hello,
as described in the tutorial, I am using suews prepare in the UMEP pre-processor to generate inputs to run SUEWS. I used Madrid LCZ from wudapt, and then i used the default parameters for the LCZ in the LCZ converter.  I get the following message when trying to generate using SUEWS Prepare:

Operations cancelled, process unsuccessful! See the General tab in Log Meassages Panel (speech bubbl

[2022-02-21 07:31] biglimp commented on #376
We are aware of this error and are working on a solution. You can read more here #366

[2022-03-01 11:21] Tamnikita opened #377 "Qgis 3.24 crashes when using umep"
What can I do to solve this issue?

[2022-03-01 12:17] biglimp commented on #377
Please provide more information. What OS are you using? What version of UMEP? Are you using UMEP for processing or Menu-based UMEP?

[2022-03-02 00:04] bweeding commented on #365
Hi Fredrik and Nils, after sorting out the time alignment issue, the data has cleared up significantly. However, there are still some "bad" timestamps. I've pulled out images of timestamps with Tmrt less than -20 and plotted them here. I'm going to do a bit more digging, but just wondering if there are any patterns or issues you recognise?

Cheers
Ben

![bad tmrt timestamps](https://user-images.gi

[2022-03-02 09:15] biglimp commented on #365
Hm. I see some linear features in your output (about 526900). What are these and could they affect the output?

[2022-03-02 12:08] rarygit opened #378 "Optimal approach to optimisation"
A suggestion made by Nils during the recent online seminar was to run several tree planter scenarios, each run having a specific tree and canopy dimension. This occurs because Tree Planter cannot automatically change these in the simulation.

What would be an optimal approach to optimisation in circumstances where
 - the planting polygon is large,
 - the site has high paved surfaces & building %,

[2022-03-02 18:49] rarygit commented on #378
For example Zhou etal. 2017 outlined some straightforward landscape design criteria for their siting of residential shade trees:

[2022-03-03 14:21] #378 closed, assigned to nobody

[2022-03-04 02:07] bweeding commented on #365
I believe these are artifacts from the combining of the tiles. The whole 150m x 150m image is made from nine 50m x 50m tiles. Each of the 50m x 50m tiles is processes as the centre of its own 150m x 150m tile to account for tall building shadows. The linear features only seem to appear at low sun angles (dusk/dawn), so I think they must be from differences in the buildings that are used to calcula

[2022-03-04 08:12] biglimp commented on #365
Me theory is that at certain, very specific times during dawn and/or dusk, the calculation of sun angle and the observed Kdown does not match and somehow creates these strange Tmrt values. That could be if e.g. have positive sun angle but still no positive Kdown or something like that. Could you take one of the strange time steps and see what the full uotput looks like by putting in a POI somewher

[2022-03-04 08:23] bweeding commented on #365
Ah ok makes sense, I'll do it first thing Monday. I can produce maps of all
the outputs using the xarray modification I've made.

On Fri, 4 Mar 2022, 7:13 pm biglimp, ***@***.***> wrote:

[2022-03-04 08:26] biglimp commented on #365
It would also be good to get the sun angles etc. for that time step. Hence the POI.

[2022-03-04 08:28] bweeding commented on #365
Ah yep no worries, I'll put it all together. Have a good weekend!

On Fri, 4 Mar 2022, 7:26 pm biglimp, ***@***.***> wrote:

[2022-03-06 20:39] phemiobe opened #380 "Unable to download and processed ERA5 data"
Hello, I have the error when I want to download ERA5 data "AttributeError: 'NoneType' object has no attribute 'flush'". Please any idea on how to resolve this. I have upgraded my supy(SuPy version: 2022.2.17)

[code]

[code]

[code]

[2022-03-06 22:03] phemiobe commented on #380
My request was successfully submitted but the algorithm did not process it.
![CDSAPI request](https://user-images.githubusercontent.com/97770101/156943962-a5162c0c-44b4-4c75-86bd-21198145255b.PNG).

[2022-03-07 02:35] bweeding commented on #365
Here's a POI from the model - it's at 526995, 5252145.

There's a negative value for kdown - could that be it?

[POI_1_for_FL.txt](https://github.com/UMEP-dev/UMEP/files/8194310/POI_1_for_FL.txt)
l

[2022-03-07 09:08] sunt05 commented on #380
related to #375

[2022-03-07 09:58] elidamd commented on #375
Hi there! I have the same issue.
When I request vie UMEP > Pre-processor, the tool is endless running. I checked my request at CDS portal and it was finished there, so I could download it. I want to try this workaround with pathlib. Can you please give further details on how to proceed? Should I try a code line with the processing run?
Thanks!

[2022-03-07 10:25] sunt05 commented on #375
Hi @biglimp , how did you exactly resolve this issue? could you please provide some more code on this?
I'm trying to do sth at the SuPy side as a related issue (#380) is reported but couldn't reproduce the issue on Mac so I'm wondering if this is due to sth particular on windows.

[2022-03-07 10:28] phemiobe commented on #375
Hello, same here. I am experiencing thesame problem. @biglimp  could you please more details how you solve this.

[2022-03-07 10:40] biglimp commented on #375
I see that I only updated UMEP for processing regarding the inclusion of pathlib in the ERA5 tool [#375](https://github.com/UMEP-dev/UMEP-processing/commit/8a0faf718b65bc6c829da36fbff36664faed03a7). Try via UMEP for processing (development release) and see this solves the issue. https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#installing-development-release-could-be-unstable

[2022-03-07 10:55] sunt05 commented on #375
so this should be resolved if users are using your updated umep-processing plugin?

I just had a look at the SuPy code and found I had done similar wrapping with SuPy so quite confused why this is happening.

[2022-03-07 11:05] biglimp commented on #375
Yes and I will update menu-based UMEP the same way, if this solves the issue...

[2022-03-07 11:08] phemiobe commented on #375
Sorry How do I download this development release?

[2022-03-07 11:13] sunt05 commented on #380
Hi @phemiobe I assume you are using `umep-processing` for this task, which, as mentioned by @biglimp in #375, should have resolved a similar issue.

To check if this is really an issue at the SuPy side, could you please test the following code in the python console and let me know the results/problem?

Thanks!

[code]

[2022-03-07 11:17] phemiobe commented on #375
Cant get any zip file here

![Capture](https://user-images.githubusercontent.com/97770101/157021160-708693a5-04a8-4978-9f10-7a94ba523dfc.PNG)

[2022-03-07 11:30] phemiobe commented on #375
![Capture](https://user-images.githubusercontent.com/97770101/157023217-5c0bfe3d-7173-430f-b915-a35a3003d35a.PNG)

[2022-03-07 11:58] biglimp commented on #375
You have use our github repository, not the QGIS plugin repo. [docs.readthedocs.io/en/latest/Getting_Started.html#installing-development-release-could-be-unstable](https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#installing-development-release-could-be-unstable)

[2022-03-07 12:43] biglimp commented on #365
Well, that is just a consequence of something. I see that you are using the wrong Kdir. It should be direct beam perpedicular to the solar position. Now you are using Kdir for a horisontal surface. I see this since Kdir+Kdiff = Kglobal. This could also be the reason why you get negative Kdown.

Kdir, Kdiff and Kdown are input parameters whereas the other K-components are model outputs.

Recalculat

[2022-03-07 13:07] elidamd commented on #375
I am trying the processing and SuPy python console suggestion (under #380). I actually tried the whole morning but the request remains in the queue. So I will try again earlier in the morning and keep this post informed. Thanks for the reply!

[2022-03-07 17:15] phemiobe commented on #380
The code was able to download and processed the data into the specified directory.

thanks

[2022-03-07 17:18] sunt05 commented on #380
Good to know.

I guess there might be some issue at the QGIS side that somehow the connection between the GUI and underlying python code is lost, hence the issue, which, however, is indeed out of our control at the moment.

Please feel free to add more details if this issue persists.

[2022-03-08 05:03] bweeding commented on #365
Ah yes, this is something Nils mentioned before but I tried and the results were odd.

So I modified kdir by inserting:
radI[i] = (radG[i]-radD[i])/np.sin(altitude[0][i] * np.pi/180)
into solweig_algorithm.py just before the use of so.Solweig_2021a_calc.

Looking first at the 1 day time period from the POI file, modifying the radiation makes the Tmrt output more reasonable, though the numbers are

[2022-03-08 08:05] biglimp commented on #365
The values looks more reasonable now when you are using the correct Kdir.

I think you are correct that the division of sin(alt) is one of the issues here. The model is very sensitive during mornings and evenings and if you have small time biases between sun position and the observed forcing data you can end up with these spikes. It is always the relation between sun altitude and radiation that ca

[2022-03-08 08:32] bweeding commented on #365
Ok great I'll have a tinker tomorrow and show you the results. Should I
stick with the radiation modification though?

On Tue, 8 Mar 2022, 7:05 pm biglimp, ***@***.***> wrote:

[2022-03-08 09:02] biglimp commented on #365
Yes, radiation perpendicular to the solar beam.

[2022-03-08 09:05] bweeding commented on #365
Ok great, I'll send through some results tomorrow! Enjoying figuring this
out!!

On Tue, 8 Mar 2022, 8:02 pm biglimp, ***@***.***> wrote:

[2022-03-08 12:10] phemiobe commented on #371
Number of grids have been reduced yet I have the same error.. here I have 966 grid points at 2km resolution

Unable to allocate 7.30 GiB for an array with shape (440, 2225664) and data type float64

Check: C:\Users\User\Documents\SuPy.log
Pasted below is my supy version

SuPy versions
-------------
supy: 2022.2.17
supy_driver: 2021a2

=================
SYSTEM DEPENDENCY

INSTALLED VERSIONS
-------

[2022-03-08 12:21] sunt05 commented on #371
@phemiobe can you please attach your `supy.log` file here for me to see some error details? thanks!

[2022-03-08 12:24] phemiobe commented on #371
Thanks, please find attached file
[SuPy.log](https://github.com/UMEP-dev/UMEP/files/8206042/SuPy.log)

[2022-03-08 12:28] phemiobe commented on #371
here is my machine specification

Device name	DESKTOP-K9T76PC
Processor	Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz   2.40 GHz
Installed RAM	8.00 GB
Pen and touch	No pen or touch input is available for this display

[2022-03-08 12:29] sunt05 commented on #371
and a full error message stack from python please.

[2022-03-08 12:30] sunt05 commented on #371
are you using UMEP for the simulation or standalone supy?

[2022-03-08 12:38] phemiobe commented on #371
am using UMEP and I dont have python error. I only got that message after about 40 minutes of run

[2022-03-08 12:43] sunt05 commented on #371
Just for testing-if you try only one grid, would the same issue occur?

I'm wondering where the issue could be: number of grids or length of simulation period.

[2022-03-08 12:45] phemiobe commented on #371
when I tried reduced the grid drastically to like 330 at 5km, it worked. this is however to coarse for me. any advice pls

[2022-03-08 13:07] phemiobe commented on #371
Please how can I run standalone supy?

[2022-03-08 13:38] sunt05 commented on #371
Good to know this; and the solution is obvious then: you just need to split your grids-but keep them in your desired resolution-into multiple batches and run them batch by batch.

[2022-03-08 13:38] sunt05 commented on #371
Please see the SuPy docs site: https://supy.readthedocs.io/en/latest/

[2022-03-09 04:16] bweeding commented on #365
So I included the following conditions to filter out the "bad" values:

[code]
and used data from
`starting_date = '1994-01-01';
finishing_date = '1996-12-31'`

This gives reasonable looking mins and maxes:
![image](https://user-images.githubusercontent.com/57697604/157367179-be6769ca-ac62-4735-8c54-84030bdf54c9.png)

If we do an hourly boxplot, it seems like there are some very high values in the

[2022-03-09 04:30] bweeding commented on #365
In relation to the problems caused by offsets between sunrise in altitude and in the meteorology, will that be connected to the position of the target location within the timezone? Or is that accounted for within the model?

[2022-03-09 07:35] biglimp commented on #365
That is accounted for. I am thinking of other things that could happen e.g.:
- A clock in a logger is showing wrong time when using observed data as input forcing. Very small difference can produce the error that you have discovered
- The data is not average up to the recorded timestep but instead momentaneous values for that timestep

Thanks for presenting your restrictions in the comment above.

[2022-03-09 07:38] bweeding commented on #365
Ah ok. My data is averaged for the surrounding hour ie. 0930 data is the
mean from 0900 to 1000. Could that be it?

On Wed, 9 Mar 2022, 6:35 pm biglimp, ***@***.***> wrote:

[2022-03-09 08:28] biglimp commented on #365
Well, it depends where your data is coming from. If you have observed averaged data for 0900 and 1000 etc., you should not move the data to 0930. AND, if you have momentaneous data you should use 0930. SOLWEIG calulates the sun position inbetween timesteps, i.e. if you have data on the hour e.g. 0900 and 1000 then the position is calculated for 0930.

With obsereved avarge data I mean that fro 100

[2022-03-09 08:36] bweeding commented on #365
Ah so if my data is an average from 0900 to 1000 (it's a reanalysis
product) then I should associate it with a timestamp of 1000?

On Wed, 9 Mar 2022, 7:28 pm biglimp, ***@***.***> wrote:

[2022-03-09 09:17] biglimp commented on #365
Yes, if reanalysis data timestamp 1000 is an average between 0900 and 1000.

[2022-03-09 09:36] bweeding commented on #365
Ok I'll restamp the times tomorrow and send through a comparison.

On Wed, 9 Mar 2022, 8:18 pm biglimp, ***@***.***> wrote:

[2022-03-10 02:13] bweeding commented on #365
Ok I've used 1994 data to compare the old (on the half hour) to the new (at the end of the hour) timestamping.
This reduced the number of "bad" timestamps from 266 to 178 (from 3% to 2%).

We can see a shift in the Tmrt values and what looks like a reduction in extreme values.
![image](https://user-images.githubusercontent.com/57697604/157562271-6955e3af-0138-4b28-8003-587e88603698.png)

Checking

[2022-03-11 12:36] biglimp commented on #377
I updated to QGIS 3.24 and cannot replicate your issue.

[2022-03-15 15:09] biglimp commented on #376
Adjusted LCZ Converter to include H/W-ratio.

[2022-03-15 15:09] #376 closed, assigned to nobody

[2022-03-17 09:12] elidamd commented on #375
The workaround with SuPy code worked!
It took much longer (about 40 minutes to get the NetCDF file, plus other 40 minutes for the UMEP format file), I guess it is related to the CDS Api queue.

[2022-03-18 15:59] phemiobe commented on #371
Hello, I tried with a bigger machine(64GB ram). the issue still persists. did any else experience this.....
[SuPy.log](https://github.com/UMEP-dev/UMEP/files/8305971/SuPy.log)
 experience this
![allocate](https://user-images.githubusercontent.com/97770101/159033230-3efd7fdd-260d-4cfd-9b4d-bd623b308ace.PNG)

[2022-03-18 21:29] sunt05 commented on #371
Sorry to see this.

If you can run supy outside of QIGS with the same setting on this machine, then I gather there might be something to do with the memory management of QGIS, which, unfortunately, is totally beyond our control.

However, if you see a similar error with the standalone supy, please report here with your supy version (`supy.show_version()`) and your input files: I'm happy to have a

[2022-03-22 01:28] phemiobe commented on #371
Hello Ting

I followed the supy documentation and had my first successful run with standalone supy. However, I suppose the output would be saved in the FileOutput Path of the RunControl,nml. the folder was empty after the simulation but I was able to visualize the dfoutput. Please how do I locate the output folder since its not saved in the FileOutputPath pasted below.

Thanks

FileOutputPath="/ho

[2022-03-22 08:35] sunt05 commented on #371
Hi there,

in SuPy, running simulations and saving results are separate processes and thus are dealt with by different functions:
please see [`save_supy`](https://supy.readthedocs.io/en/latest/api/supy/supy.save_supy.html#supy.save_supy) for more details.

[2022-03-22 16:08] phemiobe opened #383 "SUPY ERROR"tables.exceptions.HDF5ExtError: Problems creating the Array""
Hello, I am running supy and encountered HDF5EXTError, could you please advise, perhaps you have encountered this type of error before. the full python error is attached  as well as the supy version. Thanks
[code]

[code]

[ERROR.txt](https://github.com/UMEP-dev/UMEP/files/8325987/ERROR.txt)

[2022-03-23 13:09] phemiobe commented on #383
solved when I reduced the number of grids

[2022-03-23 13:16] phemiobe commented on #383
However I have another issue when saving ....df_output with list_path_save = supy.save_supy(df_output, df_state_final, freq_s=3600, site='', path_dir_save='path/to/some/dir'). I got
numpy.core._exceptions.MemoryError: Unable to allocate 180. GiB for an array with shape (384, 62913024) and data type float64

I knew this error is related to memory therefore I selected just SUEWS
df_output_suews = df

[2022-03-23 13:19] sunt05 opened #384 "saving large output of SuPy"
However I have another issue when saving ....df_output with list_path_save = supy.save_supy(df_output, df_state_final, freq_s=3600, site='', path_dir_save='path/to/some/dir'). I got
numpy.core._exceptions.MemoryError: Unable to allocate 180. GiB for an array with shape (384, 62913024) and data type float64

I knew this error is related to memory therefore I selected just SUEWS
df_output_suews = df

[2022-03-23 13:20] sunt05 commented on #383
Good to know the above issue on H5 is resolved. Please close this issue and I'll leave more comments on the saving issue in SuPy in a separate issue.

[2022-03-23 14:16] #383 closed, assigned to nobody

[2022-03-24 09:37] dounia43 opened #385 "SEBE- visualisation issu"
hello,
I have the following message error every time I try to visualize the irradiance results using SEBE visualizer.
when I click on (Visualise) I don't see results.

WARNING    Traceback (most recent call last):
              File "C:/Users/pc/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\SEBEVisual\sun.py", line 521, in visualize
              dataset = gdal.Open(self.plugin_d

[2022-03-24 09:46] biglimp commented on #385
Can you please state your version of UMEP, QGIS and also click on "Stack trace" to see if you have any additional error messages.

Where you able to execute SEBE without any errors?

[2022-03-24 10:42] elidamd opened #386 "Solweig: No valid DEM selected"
Hi!

I am running SOLWEIG without success. I would like to ask for some tips on how to find out the error (what is wrong with the files). Thanks!

1. Before [plugin version 3.11]
SOLWEIG was successful with DSM, landcover, sky view factor inputs.
However, it was returning empty when I added vegetation DSM files (from tree generator tool).
2. Now [updated plugin to 3.19.3]
I am trying to run SOLWEI

[2022-03-24 11:25] dounia43 commented on #385
UMEP version: 3.19.3
Python version  : 3.7.0
 QGIS version : 3.16.14-Hannover Hannover,

**stack trace**
RuntimeError: C:/Users/pc/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\SEBEVisual/data/temp.tif: No such file or directory
Traceback (most recent call last):
  File "C:/Users/pc/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\SEBEVisual\sun.py", line 521, in v

[2022-03-24 12:06] biglimp commented on #385
Can you please submit your output data from your SEBE run (the whole folder as a zip-file).

[2022-03-24 12:11] dounia43 commented on #385
[SEBE.zip](https://github.com/UMEP-dev/UMEP/files/8341280/SEBE.zip)

[2022-03-24 12:48] #386 closed, assigned to nobody

[2022-03-24 15:24] biglimp commented on #385
I cannot replicate your error. I can run your data without errors. I think you need to update your QGIS. The latest version of Python is 3.9.x and that was introduced as from QGIS 3.20 if I remember correctly.

With this said, your SEBE run was unsuccessful as you have minus values. I suspect that you only have global radiation in your input meteorological file and that you have not clicked in "es

[2022-03-24 15:24] #385 closed, assigned to nobody

[2022-03-24 20:10] paula-lelis opened #389 "Unable to install UMEP at QGIS"
Hello, I am trying to install UMEP as a plugin for QGIS and there is an error related to  Phyton. Could you please help me to solve this  issue? Thanks!

Um erro ocorreu enquanto executava o código Python:

RuntimeError: module compiled against API version 0xf but this version of numpy is 0xe
Traceback (most recent call last):
  File "C:\Users/Paula Rabelo/AppData/Roaming/QGIS/QGIS3\profiles\defau

[2022-03-25 03:46] paula-lelis commented on #389
the main problem seems to do with numpy but I don't know how to fix it... anybody knows?

[2022-03-25 07:40] biglimp commented on #389
I suspect you have an old version of numpy. Take a look at the Getting started section on the UMEP manual to find out how you can update.

[2022-03-25 08:59] sunt05 commented on #371
Hi @phemiobe, if this issue has been resolved, please consider closing the issue. thanks!

[2022-03-25 10:30] #371 closed, assigned to sunt05

[2022-03-25 13:03] paula-lelis commented on #389
Dear biglimp,
As a matter of fact my numpy is up to date, since I ran pip install numpy  --upgrade and when I freeze my Python it shows me the numpy 1.22.3 version.... On another hand, when I run the OsGeo4W setup it shows me that the installed version is 1.20.2-1... does that mean that I have two numpy installed?

[2022-03-25 13:11] paula-lelis commented on #389
well it seems that it wasn't that... I uninstalled from the setup the numpy version and reinstalled it and upgraded through the shell.... but the same error message appears:
RuntimeError: module compiled against API version 0xf but this version of numpy is 0xe
RuntimeError: module compiled against API version 0xf but this version of numpy is 0xe
I am completelly stuck! help please :)

[2022-03-25 13:14] paula-lelis commented on #389
When I restart QGIS a box pops up with this message: Currently, we have a numpy version conflict that might produce a Python error after installation of UMEP. This will be resolved if you restart your QGIS session.
But it does not resolve it.... :(

[2022-03-25 13:24] paula-lelis commented on #389
I managed to solve it! I had, indeed, two numpys installed... had to uninstall from the shell.
Thks!

[2022-03-25 13:24] #389 closed, assigned to nobody

[2022-03-28 12:51] sunt05 commented on #380
Hi there, please let us know if the issue persists.
If so, please provide more info for us to address the issue. Otherwise, please close the issue.

[2022-03-28 13:50] #380 closed, assigned to sunt05

[2022-03-29 15:18] HibaHamdi09 opened #391 "computation of verTohor"
I’m using your model in the framework of my PhD to produce air temperature maps and aim to compare the simulated maps with measurements made by ground stations. To be sure to use the model properly, I have few questions.

First question: I would like to know if the calculus I made for the parameter VerToHor is correct.
I referred to the definition “verToHor: Vertical-to-horizontal urban area ratio

[2022-03-30 08:08] #391 closed, assigned to nobody

[2022-04-02 14:13] #372 closed, assigned to nobody

[2022-04-04 09:19] CsillaVG commented on #389
Thank you for the tip @paula-lelis
I had the same issue under Mac OS X: updating numpy to the latest version did the trick.

[2022-04-12 20:01] ozyaz opened #395 "QGIS crashes when using UMEP- SUEWS advance"
**Describe the bug**
Dear UMEP COmmunity,

I want to share this error, keep happining to me when using UMEP/SUEWS advance. What seems to be the root of the cause?

here is the message of the error:

Crash ID: [9d3af83ee33d083733b84131e9a26700b133e606](https://github.com/qgis/QGIS/search?q=9d3af83ee33d083733b84131e9a26700b133e606&type=Issues)

Stack Trace

PyInit_suews_driver :
PyInit_suews_driver

[2022-04-13 08:00] biglimp commented on #395
Can you try please try with SUEWS in **UMEP for processing** also. Also I see that you are using QGIS 3.16 and I would recommend that you update to the latest version (3.24). Also check your **supy**-version. It should be dispalyed in the log messages (General tab) when you start QGIS.

[2022-04-14 15:49] SimoneBeltramino opened #396 "Attention message from SOLWEIG"
Trying to make a simulation of outdoor thermal comfort with SOLWEIG returns the following error message: "The land cover grid includes integer values higher (or lower) than UMEP-formatted land cover grid (should be integer between 1 and 7). If other LC-classes should be included they also need to be included in landcoverclasses_2016a.txt."  I have fixed the cell size and checked that the values ar

[2022-04-15 07:47] biglimp commented on #396
In Solweig, ground cover should be represented, i.e. What is present underneath trees and bushes. Therefore the two tree classes should not be present. Also, you can have no Nodata-values in your LC-data. Reclassify to e.g. 1.

[2022-04-15 07:47] #396 closed, assigned to nobody

[2022-04-15 16:09] ozyaz commented on #395
@biglimp Thank you for the recommendation. I did download the new long term version. But it crashed again (with UMEP Processor) after half an hour..

QGIS version: 3.22.5-Białowieża
QGIS code revision: c27231782f
Qt version: 5.15.2
Python version: 3.9.5
GDAL version: 3.4.2
GEOS version: 3.10.2-CAPI-1.16.0
PROJ version: Rel. 9.0.0, March 1st, 2022
PDAL version: 2.3.0 (git-version: 1c17a7)
Algorithm

[2022-04-15 21:17] biglimp commented on #395
Ok, probably memory issue as @sunt05 is suggesting.

[2022-04-16 08:35] CsillaVG opened #398 "UWG reclassifier feature request"
Hi UMEP Team,

I've tried the UWG reclassifier. It worked well. I would, however, like to request a small feature improvement.
It would be great if in the UWG building type drop-down list the building types would be listed/organized by some logic. Something like the list below (spaces between the categories are not necessary).

Thank you for all your work!
Csilla

Apartment, MidRise

Office, Small

[2022-04-16 08:44] CsillaVG opened #399 "UWG Processor (Processing Toolbox) error"
Trying to run UWG from the Processing Toolbox ends up in the processor hanging and the following python error message.

              File "/Applications/QGIS.app/Contents/MacOS/../Resources/python/plugins/processing/gui/AlgorithmDialog.py", line 273, in runAlgorithm
              'parameters': self.algorithm().asMap(parameters, self.context)
             Exception: unknown

Environment:
 - OS: ma

[2022-04-16 09:10] CsillaVG opened #400 "Point parameter errors both in Morphometric Calculator and Land Cover Fraction (UMEP Pre-processor)"
Trying to derive land cover and morphometric parameters for a point during pre-processing results in the following errors when pressing the 'Generate study area' button. The error occurs both under Windows and Mac OS.

**Error message for Morphometric Calculator (Grid), Windows**
             File "C:\Users/scully/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\ImageMorphParmsPoint

[2022-04-18 20:20] SimoneBeltramino opened #401 "ImportError and RuntimeError"
I have tried to install the UMEP plugin both on the new 3.24 version and on a previous 3.16. I also tried on a mac computer but it keeps giving me the following error. What can I do to solve it?
Thanks in advance.
<img width="611" alt="Immagine 2022-04-15 114046" src="https://user-images.githubusercontent.com/103640974/163871561-8b345e9a-67a6-41a4-9acc-655f86078645.png">
<img width="746" alt="Imma

[2022-04-18 20:56] sunt05 commented on #401
please update your installed numpy.

[2022-04-19 14:37] biglimp commented on #398
Hi Csilla,
That should not be so difficult to implement. I will try to do it soon.

/Fredrik

[2022-04-19 14:42] biglimp commented on #399
Hm, looks like a Mac-error. Never seen this error before. Do yo happen to have a Windows PC close by to see if UWG works there? Do you have issues with any other UMEP-tools from the processing plugin on your Mac?

[2022-04-19 14:53] biglimp commented on #400
The QGIS people seem to have changed something here. I will try to fix. One work around is to create a buffer yourself and then run the grid version of the tools.

[2022-04-20 13:35] PetitMote opened #402 "Meteo loader won’t load data"
**Describe the bug**
Hi guys,
I’m trying to fetch data with the automatic loader. At first, it went great, but I stoped the launcher because I misunderstood somethin. It had succesfully downloaded 2 months of data, but now it won’t fetch anything. I’ve tried updating (no update), re-launching qgis, and rebooting, but nothing new. There isn’t any request in copernicus, and the loader just keep runn

[2022-04-20 15:27] CsillaVG commented on #399
Tested now on two Windows PCs. It took me a while to get them running, but UWG now runs on both well*.
Regarding the Mac: I've tried a few things, but couldn't fix the above issue. All other UWG-related pre-processors work well.

* minus occasional issue with saturation pressure

[2022-04-20 15:33] CsillaVG commented on #400
Great idea. Thank you! That will suffice for now.

The only thing is that, when using a circle as a single gird, the charLength is calculated from as the square root of the area. But---according to my understanding by running a few sensitivity analyses in the past---the model is not sensitive to this parameter.

[2022-04-21 07:07] biglimp commented on #399
Thanks for info. When does this Mac error occur? When you open the tool or when you click **run**?

[2022-04-21 07:09] biglimp commented on #400
I have found the issue. I will push some updates to this repo later today, hopefully.

[2022-04-21 07:24] PetitMote commented on #402
Hello,

I tried today with the year 2017. It seems to work, and I don’t get the python error. I guess it’s a problem due to cache.

[2022-04-21 07:30] biglimp commented on #402
Ok great to see it working. Depending on where you are in the world and can also try to download via [shinyweather.com](https://www.shinyweatherdata.com/). Here they have pre-processed the ERA5 data which makes it much faster. I will close this issue here.

[2022-04-21 07:30] #402 closed, assigned to nobody

[2022-04-21 07:33] PetitMote commented on #402
Sorry, it was unclear, but it’s working only if I change the dates 😅 I tried 2018 (and so tried loading the cache), and got the same error.

Thank you for the link, I’ll have a look

[2022-04-21 11:04] PetitMote opened #403 "Pressure detected as out of range"
**Describe the bug**
I’m trying to import shiny weather data. Unfortunately, the preprocessor thinks all my pressure data is out of range, at every line.
I’ve located the condition here: https://github.com/UMEP-dev/UMEP/blob/7263c89b7c58467de655da2ca499661f8e1e7f77/MetdataProcessor/metdata_processor.py#L485

See my CSV file. I did convert data from Pa to kPa. I looked for min and max, and they are

[2022-04-21 11:58] biglimp commented on #403
Did you try to downlaod as EPW-file and then tick in the EPW-format button on the preprocessor? That should work.
Otherwise, you should divide by 1000 and those numbers that are problematic should be adjusted manually. I also see that your ne column use , and not . as decimal. It should be a dot, not a comma.

[2022-04-21 12:11] PetitMote commented on #403
I’ve tried to round the value with no decimal, and still got the error. Also, there is no out of range value, min is 98.5, and max is 103.5.

Thanks for the epw tip.

With the epw, it worked fine, thank you.

[2022-04-21 12:23] biglimp commented on #403
Strange since the limits are 30 and 107...

[2022-04-21 12:26] biglimp commented on #403
Just tried with your data (when replaced the commas) and could not replicate your error. Mine works fine.

[2022-04-21 13:21] biglimp commented on #401
See [here](https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#adding-missing-python-libraries-and-other-osgeo-functionalities) for instructions on how to upgrade numpy.

[2022-04-21 13:32] #400 closed, assigned to nobody

[2022-04-21 14:32] CsillaVG commented on #400
Thank you!

[2022-04-21 14:56] CsillaVG commented on #399
After clicking on run. The UWG never finishes. It seems to be stuck in a loop with a status bar indicating that something is in progress.
The standard 'python error occurred' message comes up  immediately after pressing run and the above message is displayed in the Python error log. This is a warning level error. I accidentally have left out that part. I am sorry. :flushed:

[2022-04-21 14:59] biglimp commented on #399
Can you open the Python console in QGIS and see if you have any additional messages there?

[2022-04-21 16:08] CsillaVG commented on #399
Nothing. It is blank.

[2022-04-22 05:54] biglimp commented on #399
Just to be shure, can you try `from uwg import UWG` in the QGIS Python console.

[2022-04-22 07:57] CsillaVG commented on #399
Good you asked. I am new to using processing and the python console in QGIS. I did two things.
(1) Installed QGIS 3.24.2 on another mac (macOS 10.14.6) with UMEP 3.19.3. It gives the same exact error when trying to run UWG using the UI.
(2) used the UI of UWG to generate a python command and ran it in the python console. That worked like a charm.

[2022-04-22 08:22] biglimp commented on #399
Ok, last test. Try to run UWG with the attached data, just to see if your input data is currupt.
[inputfilestest.zip](https://github.com/UMEP-dev/UMEP/files/8538614/inputfilestest.zip)

[2022-04-22 08:42] CsillaVG commented on #399
I run it with your data,  but the issue is the same: the UI is hanging and there is a python error message in the background.

BTW, the data that I am using are working on two windows QGIS/UMEP installs with UWG run via the UI. On the macs, I can only get UWG working as a python command.

I have tried one more thing: running UWG prepare via the Processing Toolbox UI (on the macs). This function wo

[2022-04-22 09:21] biglimp commented on #399
Ok. Maybe I missunderstood you. Does any other tool in **UMEP for processing** work, e.g. **Shadow Generator**, so NOT from the menu-based UMEP but from the **Processing Toolbox**? You can use the attached DSM to try it out. UTC=1
[DSM_KRbig.zip](https://github.com/UMEP-dev/UMEP/files/8539470/DSM_KRbig.zip)

[2022-04-22 09:46] CsillaVG commented on #399
No. I get the same error for trying to run the shadow generator as well.

[2022-04-22 11:24] biglimp commented on #399
Aha! Now we are getting closer. Can you now try some other tools in the toolbox, e.g. **Create Grid**, **Raster Information** and see if these are working for you.

[2022-04-22 11:28] CsillaVG commented on #399
Both ran just fine.

[2022-04-22 11:45] biglimp commented on #399
Ok, so there is no issues in running niative processing tools. Now please try this. Download **Raster Quantilizer** from **Manage and Install Plugins** to check if this third party processing plugin works or fails for you.

[2022-04-22 11:56] CsillaVG commented on #399
It worked.

[2022-04-22 12:14] biglimp commented on #399
Sorry for making you trying all this but I have one more thing: Please download **Potential Slope Failure for processing** and use the attached data. This is another plugin from me and want to see if I am doing something wrong in general when I code these kind of plugins.

[testdata.zip](https://github.com/UMEP-dev/UMEP/files/8540868/testdata.zip)

[2022-04-22 12:23] CsillaVG commented on #399
No problem. It run well, without any issue.

[2022-04-22 12:31] biglimp commented on #399
Ok, thanks. Now I will see if I can find the issue. I will get back to you if I need you to try something more. Thanks Csilla!

[2022-04-22 12:54] CsillaVG commented on #399
You are more then welcome. And the thank you is mine!

[2022-04-26 16:39] SimoneBeltramino opened #405 "PET and UTCI calculation"
Hello, I would like to know how SOWEIG calculates PET and UTCI indexes.
What I need are the equations used by the tool.

Thank you so much in advance.
Simone

[2022-04-27 06:30] #405 closed, assigned to nobody

[2022-04-27 14:08] PetitMote opened #407 "UWG Analyzer takes the number of cells instead of the lists of id"
**Describe the bug**
The UWG Analyzer will use the number of cells instead of the actual list of id. This means that it’s ok when your id start at 0 and are continuous. However, when your id don’t start at 0, and/or have gap in them, there will be 3 errors:
- The analyser will try accessing id that don’t exist, and fail to update the attribute, visible as error messages in qgis
- Probably, data wo

[2022-04-27 14:12] PetitMote commented on #403
Hi,
I did it too, when replacing commas by point using notepad++. Guess I won’t know what LibreOffice was doing wrong.

Thank you

[2022-04-27 14:12] #403 closed, assigned to nobody

[2022-04-27 14:18] PetitMote commented on #407
In fact, here is the data

[uwg_analyzer_cell_error.zip](https://github.com/UMEP-dev/UMEP/files/8572840/uwg_analyzer_cell_error.zip)

[2022-04-28 08:52] PetitMote commented on #407
So more information:
- After renaming the uwg files starting at 0, raster is ok
- But setting an attribute in the vector grid still doesn’t work. Instead of using the user specified id field, it’s searching entities by the geometry id. This one is set by qgis, and non modifiable (at least in a geopackage). Also, it starts at 1 when it’s generated, and the analyzer will try fetching the entity "0"

[2022-04-28 09:09] biglimp commented on #407
What are the actual error messages? Please paste them here.

[2022-04-28 09:51] PetitMote commented on #407
When using the menu based analyzer, I don’t get any error message (but it’s the same result).
When using the processor, I get:
[code]

It’s only in the global journal, not in the processor journal.
Translation:

[2022-04-28 10:01] biglimp commented on #407
I cannot read french. CAn you change your QGIS to english please.

[2022-04-28 11:09] biglimp commented on #407
Hm, I ran your data with the menu-based UMEP and I cannot replicate your error. Below your see the settings and the result I got.

![image](https://user-images.githubusercontent.com/11908356/165739290-062485b6-195c-447e-b1b8-db593a8c8493.png)

![image](https://user-images.githubusercontent.com/11908356/165739374-02454e28-af0e-407d-b094-3b1feef03cbc.png)

[2022-04-28 11:57] PetitMote commented on #407
That’s why I’ve put a translation below:

The error comes only with the "Add result to polygon grid" option. With the menu based analyzer, it’s silent: you can see after that a part of the grid will have a null value in the new attribute.

What’s strange is that raster creation wasn’t working before I changed the id. Now that it’s changed, I get this kind of result:
![image](https://user-images.gi

[2022-04-28 16:47] PetitMote commented on #407
I tried at home on Archlinux and got the same raster, sadly.

[2022-04-29 07:13] PetitMote commented on #407
Maybe it’s a dependency? Here is my pip freeze:

Edit: I’ve updated each and every library, still the same. I’ll try reinstalling qgis.

[code]

[2022-04-29 08:28] biglimp commented on #407
Tried now with adding result to the shapefile and it worked, hense I cannot replicate your error. I have noticed that on Windows the two columns (mean and max) does not show in the attribute table after the UWG Analyzer have been executed. Then try to refresh your table and the two new columns will show up.

I cannot see that any of your python libraries should cause any issues. I added my pip lis

[2022-04-29 08:42] PetitMote commented on #407
Alright, I tried again with the shapefile I provided, in a new project, and indeed it worked. I tried putting it in a new gpkg, and it worked too, except for just the last line having no value.

I tried in my old project, with the shapefile, and fucked up again.

I guess it was my project that was corrupted, maybe when I updated qgis.

So thank you very much! It was on my side, I wasted a lot of t

[2022-04-29 09:36] PetitMote commented on #407
I might have spoken a little too faste. Average is working great, however max will give me a raster full of the same value. Is it the same for you?

[2022-04-29 09:50] biglimp commented on #407
I also noticed the max column just now. It should not be there just ignore it. I will try to remove it.

[2022-04-29 10:19] PetitMote commented on #407
I’m sorry, I’m not sure I understand. Do you mean the max aggregation should be removed, or that the column in my grid is wrong? (in the last case, indeed, I removed it and relaunched the analysis).

[2022-04-29 11:13] biglimp commented on #407
I mena that when I should add mean column in the attribute table, max is also added.

[2022-04-29 11:22] PetitMote commented on #407
It’s probably because there was already a max column, no?

When I’m trying to simulate the max, I get a raster full of only 1 number, don’t you?

[2022-04-29 12:35] biglimp commented on #407
There was no wrong in the columns created in the attribute table, my mistake.

Regarding why you get similar values in many grids when calculating max or median is that your output is very similar. This is not because of the analyzer as far as I can see but the output from the UWG model. Maybe you try to model an area with small variations and hence you get same max values for all grids OR the mod

[2022-04-29 12:38] biglimp commented on #399
Csilla, some updates. I examined the code and cannot see why it should not work for you. I also asked a colleague to try and for him is works. He has IOs 12.3 and QGIS 3.22.3. I asked him to update to 3.24 to see if the error appear.

[2022-04-29 12:52] PetitMote commented on #407
Yes, results are very similar, probably because I misconfigured the Land Cover Fraction pre-processor. However, when using the mean, we can see a difference, from 3.6 to 3.7. But when I’m using the max, the output raster is only full of 8.1, or another value depending on the time period.

[2022-04-29 13:30] #401 closed, assigned to nobody

[2022-04-29 13:32] biglimp commented on #407
Exactly, that comes from that your that same maximum in all your grids at some point in the data series.

[2022-04-29 13:59] SimoneBeltramino opened #411 "Winter vegetation"
To simulate a winter scenario how is it recommended to represent the vegetation?
Can the software take into account, and if so how, the fact that the vegetation in winter has a lower leaf area density (LAD)?

Thank you,
Simone

[2022-04-29 14:02] biglimp commented on #411
If you are referring to radiation modelling or shading effects, we usually set the transmissivity to 50%

[2022-04-29 14:02] #411 closed, assigned to nobody

[2022-04-30 07:00] CsillaVG commented on #399
Thank you. I can also give a try to QGIS <3.24 this weekend.

[2022-05-08 12:28] CsillaVG commented on #399
Update: UMEP processing runs well under QGIS 3.22.3 (both on iOS 10.14 and 11.15).
However, for it to work, the pillow package needed to be upgraded on both systems.

[2022-05-11 23:10] Empanag opened #415 "kernel problem supy 2022.4.7"
**Describe the bug**
i have the following problem using cmd also with jupyter notebook when i run supy

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Desktop (please complete the following information):**

 - SuPy Version v2022.4.7

[2022-05-12 12:19] Empanag commented on #415
I found that this problem is only in python 3.10 so maybe you can work.

[2022-05-12 15:21] Empanag commented on #415
This is from cmd
[code]

[2022-05-14 07:39] sunt05 commented on #415
Thanks for reporting the issue–which seems to be my bad that a test/dev version was somehow released a formal one.

The solution is simple:

1. if you are using SUEWS input text files as the input for SuPy, add this line to the `RunControl.nml` file:
`diagmethod=2` (here can be one of `0` (MOST),`1` (RSL) or `2` (automatically determined); use `2` for now).

2. if you are using `df_state` for a pr

[2022-05-14 11:31] WestDrift opened #416 "Dsm generator failed to respond"
UMEP DSM generator failed to repsond.
![image](https://user-images.githubusercontent.com/79802447/168431415-778397d1-b04b-40da-9669-969e574468d9.png)

I'm confused which part was wrong, QGIS, python or UMEP？Really thanks if any one can help as soon as possible!

[2022-05-14 20:28] Empanag commented on #415
I did the first and i have the problem with temperature again
this is the calculated from suews values
![image](https://user-images.githubusercontent.com/61833032/168447182-824cd7a1-d414-4c30-b1a7-00a2373bfb94.png)

the map to see in some areas the problem
![image](https://user-images.githubusercontent.com/61833032/168447213-d05651fc-1082-4f8a-91bb-43dcb2fd0047.png)
my data
[SUEWS_Soil.zip](https:

[2022-05-14 21:06] sunt05 commented on #415
Please just pack your `df_state` and `df_forcing` into pickle files (e.g. df_state.to_pickle(“df_state.pkl”) and upload them here. Thanks!

Sent from my iPhone

[2022-05-15 12:10] Empanag commented on #415
Okey i tried to find df_state but i have only df_state_init propably the same i attach both forcing and state

[7-ir-25sm9-10-11-12.zip](https://github.com/UMEP-dev/UMEP/files/8694896/7-ir-25sm9-10-11-12.zip)

[2022-05-15 12:24] sunt05 commented on #415
Thanks! df_state_init is good: I used a simple form for it in the post above.

Also please follow the [new issue opened in the SuPy repo](https://github.com/UMEP-dev/SUEWS/issues/106) and I'll close this one as the original issue has been addressed.

[2022-05-15 12:24] #415 closed, assigned to sunt05

[2022-05-16 13:08] nilswallenberg commented on #416
Hi @WestDrift,

Can you please attach your input data so I can have a look.

Cheers,
Nils

[2022-05-16 13:55] WestDrift commented on #416
Hi Nils,

I left the programs running and found it completed 60% several hours later. I guess the problem is a too large research area and an old computer. Later I'll try some smaller data and observe the outcome.&nbsp;

I just began to use github recently and realized that my issue may not be so proper. Sorry to bother you and really thanks for your patient reply!

Best regards,
WestDrift

---Ori

[2022-05-16 16:47] #416 closed, assigned to nilswallenberg

[2022-06-09 00:22] kellyi-sfei opened #423 "Error with ERA5/Copernicus Data Download Tool"
**Describe the bug**
The tool appears to trigger a request the Copernicus data store (i.e., visible in my requests on their webpage), but not downloading/reformatting the data.

I'm getting the following error:
[code]
----
Note: I got to this error after editing the import lines in the following two files to correct NameError
copernicus_data.py, line 25
`from qgis.core import Qgis, QgsMessageLog`

[2022-06-09 08:32] sunt05 commented on #423
This is likely to be caused by a write access error.

Please check:
1. if the specified folder is valid location (e.g. not existing); or
2. if your python/QGIS has write access to the specified folder (e.g. see [here](https://stackoverflow.com/questions/2113427/determining-whether-a-directory-is-writeable)).

If not, please fix related issue; otherwise, please let us know here.

Meanwhile, we'll a

[2022-06-09 18:31] ElyumOfTheRocks opened #424 "sudden error with SOLWEIG main process"
**Describe the bug**
SOLWEIG main process started crashing upon "run". A few days ago, it was working fine, I do not think I changed anything since it worked. I wonder what I did wrong...

When running from UMEP tab (not processing), I get this error  :

2022-06-09T12:23:27     CRITICAL    EXCEPTION IN
C:\Users/udesr4d/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\SOLWEIG\solweig

[2022-06-10 08:28] nilswallenberg commented on #424
Sorry for the inconvenience. It should be fixed now and a new version is available here on GitHub (also attached zip files) and soon in the QGIS repository.

Cheers,
Nils

[UMEP-processing-main.zip](https://github.com/UMEP-dev/UMEP/files/8877210/UMEP-processing-main.zip)
[UMEP-SuPy-QGIS3.zip](https://github.com/UMEP-dev/UMEP/files/8877211/UMEP-SuPy-QGIS3.zip)

[2022-06-10 12:35] #424 closed, assigned to nilswallenberg

[2022-06-10 13:31] ElyumOfTheRocks opened #425 "SOLWEIG new error ?"
Hi!

**The issue**
SOLWEIG main process started crashing upon "run". A few days ago, it was working fine, I do not think I changed anything since it worked. I don't understand the error since there is no mention of 'patches_in_band' in solweigworker.py nor in Solweig_2022a_calc.py (see below)

**Error messages**
When running from UMEP tab (not processing), I get this error  :

2022-06-09T12:23:27

[2022-06-10 13:32] #425 closed, assigned to nobody

[2022-06-10 13:34] ElyumOfTheRocks commented on #424
great! thanks for the quick response. I'm curious about the reason of the error, was it a fix I could have seen?

[2022-06-28 06:52] #377 closed, assigned to nobody

[2022-06-28 06:53] biglimp commented on #357
@Johnyan0000000 , Is this issue still active or can I close this issue?

[2022-06-28 06:54] biglimp commented on #356
@phemiobe , is this issue still active or can I close?

[2022-06-28 06:56] biglimp commented on #365
@bweeding , can i close this (or maybe move to discussions)?

[2022-06-28 06:58] biglimp commented on #395
@ozyaz , is this issue still active or can I close?

[2022-06-28 07:02] biglimp commented on #407
@PetitMote , can I close this issue or is it still active?

[2022-06-28 08:42] khorsans opened #429 "General question"
Hi all,
Can the SUEWS scheme be used on dusty days as well? My goal is to study the changes in the amount of heat and radiation fluxes of a city on dusty days using the SUEWS scheme.

[2022-06-28 09:40] PetitMote commented on #407
Indeed!

[2022-06-28 09:40] #407 closed, assigned to nobody

[2022-06-28 10:39] #356 closed, assigned to nobody

[2022-06-28 12:38] biglimp commented on #157
Maybe we can use something like this (found this in another QGIS plugin). There is function called feedback.pushConsoleInfo():
[code]

[2022-06-28 16:25] suegrimmond commented on #429
Yes - if you have the forcing meteorology for those conditions.
The surface resistances have not been developed or tested under those conditions specifically. But depending on where you are thinking of there may other considerations first.

[2022-06-28 20:20] ozyaz commented on #395
Yes please, thank you

[2022-06-28 20:29] #395 closed, assigned to nobody

[2022-06-28 21:42] sunt05 commented on #157
This looks nice - in fact, supy does produce a `SuPy.log` file, which seems a good fit to this approach.

[2022-06-29 21:47] #429 closed, assigned to nobody

[2022-07-01 12:05] Axou973 opened #431 "UMEP Tree Generator"
Hello, I'm trying to creat a CDSM with the tool Tree Generator From UMEP pre-processor but it doesn't work. The generator created two tif : Cdsm and Tdsm but I can't see the trees on the raster. It is just a black raster with no value...
![befor the simulation](https://user-images.githubusercontent.com/91162605/176891142-e595fa20-c461-4ded-a1ce-c17daea730df.jpg)
![explorator](https://user-images.g

[2022-07-01 12:09] #431 closed, assigned to nobody

[2022-07-04 11:58] Frappetro opened #433 "Error while running SEBE (umep processor) - Urgent"
Hi everyone!! I'm finally finishing my master degree thesis but I'm having trouble with running the SEBE simulation, in particular while running it, this python error comes out:

TypeError: can only concatenate str (not "NoneType") to str
Traceback (most recent call last):
  File "C:\Users/Petro/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\SEBE\sebe.py", line 472, in start_progr

[2022-07-04 12:24] biglimp commented on #433
Try change to a CRS on your DSM that are more common e.g. UTM. For e.g. west coast Sweden that would be EPSG:32632.

[2022-07-04 12:25] #433 closed, assigned to nobody

[2022-07-07 07:04] #357 closed, assigned to nobody

[2022-07-07 07:05] biglimp commented on #357
As we did not get any reply, we assumed rhis was fixed.

[2022-07-07 23:16] bweeding commented on #365
Yep, close away!

[2022-07-08 06:26] #365 closed, assigned to biglimp, nilswallenberg

[2022-07-08 12:32] Newshamod opened #436 "'L_patches' while running SOLWEIG"
Hi there,

I have tried to run SOLWEIG model but I am receiving the following error:

QGIS version: 3.24.3-Tisler
QGIS code revision: cf22b74e
Qt version: 5.15.3
Python version: 3.9.5
GDAL version: 3.4.3
GEOS version: 3.10.2-CAPI-1.16.0
PROJ version: Rel. 9.0.0, March 1st, 2022
PDAL version: 2.3.0 (git-version: 0a6ef5)
**Traceback (most recent call last):
File "C:\Users/nmodjr200/AppData/Roaming/Q

[2022-07-12 13:52] Axou973 opened #437 "Solweig processor (UMEP) from processing toolbox"
Hello, I have the same problem. With the UMEP processor from Processing ToolBox, The outdoor thermal comfort doesn't work.
they show me that :
Longitude derived from DSM: 4.78884444108657
Latitude derived from DSM: 45.77444574049266
Vegetation scheme activated
Sky View Factor rasters loaded
Meteorological data successfully loaded
Calculating sun positions for each time step
Isotropic sky
Writing s

[2022-07-15 13:10] ozyaz opened #439 "RuntimeError: module compiled against API version 0xf but this version of numpy is 0xe"
**Describe the bug**
Plug in doesnt work and gives this API version error again as it did in the past.
Therefore I couldnt use the SUEWS prepare in UMEP..
I went through the recomennded steps to update packages in UMEP Manuel here: https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#adding-missing-python-libraries-and-other-osgeo-functionalities

*****
ERROR:

RuntimeError: module comp

[2022-07-15 19:14] sunt05 commented on #439
Please update the `numpy` used by QGIS following the method here #409 .

[2022-07-18 15:28] NishaPatel09 opened #440 "Problem with the installation of Supy"
Hello,

I am trying to install UMEP plug in in the QGIS and it is showing some error. I have tried to uninstall the plugin and tried it again but still, it is not working. The error which is popping up constantly is I mentioned below. I will be very happy to receive any kind of help for the same.

**Desktop (please complete the following information):**
 - OS: Windows
 - QGIS Version [e.g. 3.18]

[2022-07-18 21:57] sunt05 commented on #440
similar to #421 ; possible workaround can be found here https://github.com/UMEP-dev/UMEP/discussions/409.

[2022-07-28 11:53] Axou973 opened #456 "SOLWEIG SCRIPT"
Hello, I wrote the same script provided by SOLWEIG to generate various folders with Tmrt results. I added 2 loops and it works. But at the end, when I open the output folder, I have **only the Tmrt average** and not the other Trmrt for the ohers hours.
I tried for one raster map named C07 and weather text current.
Let me explain the code :
For each period, I want to calculate all the temperatures

[2022-07-28 23:37] bweeding opened #441 "Leafon parameter with southern hemisphere data"
Hi all, was looking to confirm that when a CDSM is loaded into SOLWEIG, it defaults as evergreen/coniferous?

Came across what I believe is a bug in Solweig_v2015_metdata_noload.py:

[code]

Looks like the timings are only for the northern hemisphere?

Cheers
Ben

[2022-08-01 10:45] phemiobe opened #442 "Issue with LCF calculated from UMEP LCZ converter"
Hello,
I have been battling alone with LCF being calculated from LCZ converter for a couple of days.
1. all water grids are being calculated as paved (paved =1)
2. vegetation grids are also calculated as paved(paved =1)
3. an example is attached. veg grids with LCZ =14 (e.g grid 1, is being calculated as paved =1 which should not be the case)
4.
![LCZ_water_grid (1)](https://user-images.githubuser

[2022-08-03 12:19] phemiobe commented on #442
The issue was solved when I reclassified the LCZ map (e.g 11 = 107) accordingly..
Thanks

[2022-08-03 12:19] #442 closed, assigned to nobody

[2022-08-08 12:18] orla46 opened #443 "UMEP Tree Generator Error"
Hi there,

I'm trying to run the tree generator in the pre-processor. I either get a blank CDSM with all zeroes or I get the below error:

2022-08-08T13:06:34     WARNING    Traceback (most recent call last):
              File "C:\Users/orlac/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\TreeGenerator\tree_generator.py", line 386, in start_progress
              cdsm_array, tdsm

[2022-08-08 12:51] nilswallenberg commented on #443
Hi,

The pixel resolution of your raster data is 25 m and you want to add trees that are substantially smaller than this pixel resolution.

My suggestion is that you try to change the pixel resolution to e.g. 1 m, but try this on a smaller part of this area (not the entire Dublin area) or you might run out of memory. Then try to run Tree Generator again on this smaller area with higher pixel resol

[2022-08-09 08:53] nilswallenberg commented on #436
Hi,

I have hopefully fixed this. There is a new version here at GitHub (will be available in the QGIS repository later).

Cheers,
Nils

[2022-08-09 08:58] nilswallenberg commented on #437
Hi,

I have hopefully fixed this. There is a new version here at GitHub (will be available in the QGIS repository later).

Cheers,
Nils

[2022-08-09 09:10] orla46 commented on #443
Hi Nils,

I've done what you suggested but now I'm getting a new error:

2022-08-09T10:06:21     WARNING    Traceback (most recent call last):
              File "C:\Users/orlac/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\TreeGenerator\tree_generator.py", line 386, in start_progress
              cdsm_array, tdsm_array = makevegdems.vegunitsgeneration(build_array, cdsm_array, t

[2022-08-09 09:49] nilswallenberg commented on #443
I see that your point shapefile is in WGS84 (deg). It needs to be in the same CRS as the raster data (meters).

I'm also wondering a bit about your trees, the diameter to be specific. Some of them have a tree canopy diameter of only a few centimeters (whereas they look larger on satellite images). I tried to run the tool with a new field where I set the diameter to 3 meters and then it worked, so

[2022-08-12 13:14] Newshamod commented on #436
@nilswallenberg
Dear Nils,

Thank you for your response. I appreciate your time and consideration.

I have tried to follow the steps in modifying the scripts as mentioned and recommended in (https://github.com/UMEP-dev/UMEP/commit/49ac1cd72228aaa54006bac55ade57a42d3b5fef) but it was not successful (I am new in coding) and I might need to wait for a new release of UMEP on QGIS. Is there any specifi

[2022-08-12 14:38] nilswallenberg commented on #436
It is possible to install a plugin using a zip-file. I have attached to latest versions of UMEP below (one for processing and one for the regular plugin). You install it via the plugin manager.

Cheers,
Nils

[UMEP-SuPy-QGIS3.zip](https://github.com/UMEP-dev/UMEP/files/9319591/UMEP-SuPy-QGIS3.zip)
[UMEP-processing-main.zip](https://github.com/UMEP-dev/UMEP/files/9319729/UMEP-processing-main.zip)

[2022-08-15 11:58] biglimp commented on #441
Hi Ben,
Yes, you are correct. This is me being lazy back when I wrote this code. We will try to change this. I the meantime you can change this in the code yourself... /Fredrik

[2022-08-15 14:21] Newshamod commented on #436
Dear Nils,

Thank you so much! I appreciate it.

I tried for my case and here is the result:

![MRT](https://user-images.githubusercontent.com/108022968/184652738-f078e933-99d1-4d80-95b7-8a361cd8085f.PNG)

And I am afraid about the result cause the histogram shows there's no intermediate MRT has been calculated.

![Capture](https://user-images.githubusercontent.com/108022968/184652291-c0c974ed-0b3

[2022-08-16 07:07] nilswallenberg commented on #436
Hi Newsha,

I don't think that anything is wrong. This is usually kind of what it looks like. You have a "cool" end with pixels in shade and a "hot" end with sunlit pixels. If you are worried something is wrong I would instead look for NaN values.

Cheers,
Nils

[2022-08-16 09:05] Newshamod commented on #436
Hi Nils,

I got your point. That's so true!
In between, I tried to simulate a small site in ENVI-met and got similar result.
Thank you so much for your support @nilswallenberg  and  @biglimp . I do appreciate it.

All the best,
Newsha

[2022-08-22 07:47] ML426 commented on #437
Hi @nilswallenberg,
I have the same problem,
How to import the new version in Qgis?

[2022-08-22 07:49] nilswallenberg commented on #437
Here's how you can install it from zip-file:

https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#installing-development-release-could-be-unstable

Cheers,
Nils

[2022-08-22 07:54] ML426 opened #446 "ModuleNotFoundError: No module named 'xlrd'"
Hi,
I have this errors mesage, how can i fix it, please?

`Impossible de charger l'extension 'UMEP' provoque une erreur lors de l'appel à sa méthode classFactory()

ModuleNotFoundError: No module named 'xlrd'
Traceback (most recent call last):
  File "C:/Users/USER/.conda/envs/Qgis_envi/Library/./python\qgis\utils.py", line 334, in _startPlugin
    plugins[packageName] = package.classFactory(iface

[2022-08-22 07:57] biglimp commented on #446
Two things. 1. I recommend you update your QGIS. THat might solve your issue directly. 2. See here how you can install missing python libraries (https://umep-docs.readthedocs.io/en/latest/Getting_Started.html)

[2022-08-22 07:57] #446 closed, assigned to nobody

[2022-08-22 08:33] ML426 opened #448 "ModuleNotFoundError: No module named 'xlrd'"
Hi,
I have this message error. How can i fix it, please?

Impossible de charger l'extension 'UMEP-SuPy-QGIS3' provoque une erreur lors de l'appel à sa méthode classFactory()

[code]

[2022-08-22 08:44] biglimp commented on #448
see Discussions #477, the one you just submitted.

[2022-08-22 08:44] #448 closed, assigned to nobody

[2022-08-22 09:54] jessikalonn opened #449 "Error in SEBE vizialusation"
2022-08-22T11:51:31     WARNING    Traceback (most recent call last):
              File "C:\Users/xlojes/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\UMEP\SEBEVisual\sun.py", line 522, in visualize
              dataset = gdal.Open(self.plugin_dir + '/data/temp.tif')
              File "C:\OSGeo4W\apps\Python39\lib\site-packages\osgeo\gdal.py", line 4232, in Open
              retur

[2022-08-22 12:41] atharvauk110401 opened #450 "UMEP Required Libraries offline installation"
Please mention how to install UMEP required libraries in offline or list the required libraries for UMEP, as our device cannot access internet due to some security and privacy policy.

[2022-08-22 13:21] nilswallenberg commented on #441
Hi Ben,

The new fix hopefully works for the southern hemisphere as well. :-)

Cheers,
Nils

[2022-08-22 13:22] biglimp commented on #450
QGIS changed operational Python version as from 3.18, so if you have an earlier QGIS version e.g. 3.16, than you will not be able to use UMEP properly. I think you might be able to install libraries using the OSGeo shell and the pip command (https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#adding-missing-python-libraries-and-other-osgeo-functionalities) without being administrator o

[2022-08-22 13:22] #450 closed, assigned to nobody

[2022-08-23 17:36] jkblizzard opened #452 "tree generator results in error"
When I want to apply the tree generator, I receive the following error message

An error has occurred while executing Python code:

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed
Traceback (most recent call last):
  File "/home/jk/.local/share/QGIS/QGIS3/profiles/default/python/plugins/UMEP/TreeGenerator/tree_generator.py", line 386, in start_progress
    cdsm_a

[2022-08-24 07:25] nilswallenberg commented on #452
Hi jkblizzard,

Can you please attach your data.

Cheers,
Nils

[2022-08-30 13:31] jkblizzard commented on #452
Dear Nils,
I am not sure whether I should upload my data here. However, GIS data formats are not allowed at GitHub. I have sent these data via email a few days ago, and I hope they arrived well. Please, let me know, if you need more information or data. Thanks a lot for your effort in advance.
Cheers
Jörg

[2022-08-30 14:12] nilswallenberg commented on #452
Hi Jörg,

I have not received an email with the data. It is possible to upload a zip-file here on GitHub. If that is not possible, please try and email again.

What is the resolution of your dem/dsm?

Cheers,
Nils

[2022-08-30 14:58] jkblizzard commented on #452
[treeGen.zip](https://github.com/UMEP-dev/UMEP/files/9453896/treeGen.zip)
Hi Nils,
thanks a lot for your instant response. Sorry for the mail failure. I am not sure what went wrong. My sent folder says mail is sent. I am trying again uploading a tree point shape a building dsm and the underlying dsm here in git using a zip file. I hope it works this time.
The resolution for both dsm and dem is 1m.

[2022-08-31 08:48] nilswallenberg commented on #452
Hi Jörg,

I think I fixed it. There were three trees at the very top of the domain that were to close to the edge of the dsm/dem. They should have been ignored by the code.

You can download the latest version here at GitHub (both UMEP and UMEP for processing) and install from zip and it should work. Otherwise, get back to me. :)

Cheers,
Nils

[2022-08-31 11:13] jkblizzard commented on #452
Hi Nils,
again thanks for the quick reply.
Unfortunately, I have got the same error report after employing the corrected makevegdems.py, except this time it is line 61 instead of 60.

An error has occurred while executing Python code:

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed
Traceback (most recent call last):
  File "/home/jk/.local/share/QGIS/QGIS3/profi

[2022-08-31 11:59] nilswallenberg commented on #452
Hi again,

I could not replicate your error with the data you provided before. Nevertheless, I saw that I made a small mistake, so if you are using other data it might be worth trying again with the new code.

Sorry for the inconvenience.

Cheers,
Nils

[2022-09-06 11:14] dimadrones opened #453 "UMEP does not load No module named 'packaging'"
QGIS 3.16
Windows 7

Any help would be very much appreciated!

After installing UMEP when I try to load it I get this message

[code]

**Desktop (please complete the following information):**
 - OS: [e.g. macOS]
 - QGIS Version [e.g. 3.18]
 - UMEP Version [e.g. 3.16.2]
 - SuPy Version [e.g. 2021.1.23]

[2022-09-07 15:55] biglimp commented on #453
This happens since QGIS made updates. See #438 or #319 for possible solutions. I convert this to the Discussions page as this is not a UMEP specific issue.

[2022-09-07 15:55] #453 closed, assigned to nobody

[2022-09-08 09:25] jkblizzard commented on #443
Hi Nils,
sorry for the long silence. I was travelling for a couple of days without access to the web.
Thanks again for your support.
After your support and your corrections both preprocessor and the main SEBE processor work like a charm.
I have attached the results for your interest.  Concerning the odd tree files I have corrected the errors, but still don't know how they happened.
[energYearRoof.

[2022-09-08 13:50] SimoneBeltramino opened #455 "Simulation error Tmrt"
When I run the simulation of the Mean Radiant Temperature with SOLWEIG it gives me the following error in the log messages.

[code]

I tried to update the NumPy libraries as described in the UMEP manual but it doesn't change the situation. I have a PC with Windows operating system, I have tried with other PCs with the same operating system but the problem persists.

[2022-09-08 13:53] nilswallenberg commented on #455
Hi,

Try the latest version of UMEP (download the one here on GitHub) and install with zip. Should fix this!

Cheers,
Nils

[2022-09-13 11:25] KBLE opened #458 "Tree Generator"
Hi,
I am trying to run the SOLWEIG tutorial, specifically the part on the Tree Generator. I get the following error message (using the recent UMEP downloaded from GitHub) when trying to start the process: Error! Raster data is currently in meters. Meters or feet required. Please reproject.
Thanks in advance!
Kristina

[2022-09-13 12:07] biglimp commented on #458
What Coordinate Reference System (CRS) is your raster data? It should be a projected reference system represented in meters, e.g. UTM or some local/regional reference system. For example in Sweden we have Sweref99 which is represented in meters.

[2022-09-13 12:31] KBLE commented on #458
Hi,
I am following the tutorial so it is EPSG3007 (SWEREF 99 12 00).

[2022-09-13 14:09] #443 closed, assigned to nobody

[2022-09-13 14:09] #452 closed, assigned to nobody

[2022-09-13 14:10] #449 closed, assigned to nobody

[2022-09-13 14:10] #455 closed, assigned to nobody

[2022-09-13 14:11] #436 closed, assigned to nilswallenberg

[2022-09-13 14:11] #437 closed, assigned to nobody

[2022-09-13 14:11] #441 closed, assigned to nilswallenberg

[2022-09-13 14:33] biglimp commented on #458
This should be fixed now. You need to install [the development release](https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#installing-development-release-could-be-unstable).

Also, we currently have an issue with the numpy version inconsistency between QGIS and UMEP. Therefore, it is not recommended to install the **supy** library if you have not upgrade your **numpy** module to 1.23.

[2022-09-13 14:34] #456 closed, assigned to nobody

[2022-09-13 15:00] KBLE commented on #458
Thank you but unfortunately I get the same error message as before. (I have upgraded numpy and also restarted QGIS after installing the development release).

[2022-09-13 15:08] biglimp commented on #458
I cannot replicate your error. I tried via menu-based UMEP as well via UMEP for processing. Which one are you using?

[2022-09-13 16:02] KBLE commented on #458
I am using UMEP from the top bar with menues.
Kristina

Från: biglimp ***@***.***
Skickat: den 13 september 2022 17:09
Till: UMEP-dev/UMEP-processing ***@***.***>
Kopia: Kristina Blennow ***@***.***>; Author ***@***.***>
Ämne: Re: [UMEP-dev/UMEP-processing] Tree Generator (Issue UMEP-dev/UMEP#458)

CAUTION: This email originated from outside of the organization. Do not click links or open attachme

[2022-09-14 06:40] biglimp commented on #458
Just to double-check, can you go the About in UMEP and see what version you using. Also check your CRS on your shape-file and QGIS-project. Maybe that can influence.

[2022-09-14 06:45] KBLE commented on #458
Hi,

The UMEP version is 3.20.6 for QGIS 3.x, 13 September 2022.

The point shape file is in EPSG 3007 SWEREF99 12 00

Thanks!
Kristina

Från: biglimp ***@***.***
Skickat: den 14 september 2022 08:41
Till: UMEP-dev/UMEP-processing ***@***.***>
Kopia: Kristina Blennow ***@***.***>; Author ***@***.***>
Ämne: Re: [UMEP-dev/UMEP-processing] Tree Generator (Issue UMEP-dev/UMEP#458)

CAUTION: This email

[2022-09-14 06:51] biglimp commented on #458
This is strange. Can you send a screendump of your settings in TreeGenerator. I will also move this issue to the correct repository as you are using the menu-based UMEP.

[2022-09-16 10:36] KBLE commented on #458
Have sent over e-mail

[2022-09-28 11:28] Empanag opened #461 "SUEWS prepare window"
**Describe the bug**
Hi, inside SUEWS prepare plugin, i can't uncheck the option for shapefile for weekend in both tabs of automatic and manual water use.

**Desktop (please complete the following information):**
 - OS: W11
 - QGIS Version 3.22.6
 - UMEP Version 3.20.6
 - SuPy Version 2022.4.7

![image](https://user-images.githubusercontent.com/61833032/192766910-45bd91b9-d6c8-4526-a321-460d76a2a6

[2022-09-30 07:02] biglimp commented on #461
I did not write this code but I will see if I can fix it. I also want to inform you that a new plugin is coming soon SUEWS Database which will improve the pre-processing for the SUEWS-model.
We will probably not add an save setting, but who knows...

[2022-10-05 15:43] shahjahan0275 opened #462 "okay I there were missing some values in the tree morphology file. After fixing this it worked!"
okay I there were missing some values in the tree morphology file. After fixing this it worked!
But now QGIS still craches when using SUEWS advanced even with strongly reduced time period and cell number. The supy log just says '2020-12-22 19:24:54,578 - SuPy - INFO - All cache cleared.'

I will attach my SUEWS prepare results. Would be great if you can at least check weather it works at your side

[2022-10-05 15:45] shahjahan0275 commented on #462
I am also facing the same problem with SUEWS prepare. can you please tell me which " values in the tree morphology file" that you have fixed to solve the issue.

[2022-10-06 08:26] biglimp commented on #462
Before we move on, could you please try to run SUEWS from **UMEP for processing** first and report back the result.

[2022-10-06 15:18] shahjahan0275 commented on #462
I could not prepare the data to run SUEWS using "SUEWS prepare" due  to that problem. So how can I run SUEWS from UMEP for processing with out prepared data

[2022-10-06 15:28] shahjahan0275 commented on #462
So I am facing this problem
python/plugins\UMEP\SUEWSPrepare\prepare_worker.py,
             LINE 425 "zH = (float(IMP_heights_mean) * LCF_bu + float(IMPveg_heights_mean_eve) * LCF_ev + float(IMPveg_heights_mean_dec) * LCF_de) / (LCF_bu + LCF_ev + LCF_de)"
             ERROR MESSAGE: local variable 'IMPveg_max_dec' referenced before assignment

I am using QGIS 3.26.3
May I know "What are the value

[2022-10-06 23:13] langford77840 opened #463 "svfbuveg"
Hello,
I'd like to ask what are "svfbuveg, asvf, shmat, vegshmat, vbshvegshmat" variables and how we can calculate these variables.
It seems that these variables are new variables in the 2022 version compared to the previous version.

Thanks,

[2022-10-07 05:34] shahjahan0275 commented on #462
is there any problem in the "prepare_worker.py" to show the error above?

[2022-10-07 06:45] #463 closed, assigned to nobody

[2022-10-07 07:00] biglimp commented on #462
Ok, now I understand a bit better.

Can you attach your files that you use in SUEWSPrepare and your settings for vegetation, i.e. are you using both deciduous and confier.

[2022-10-07 08:15] shahjahan0275 commented on #462
[_build_MPGrid_isotropic.txt](https://github.com/UMEP-dev/UMEP/files/9731989/_build_MPGrid_isotropic.txt)
[_LCFGrid_isotropic.txt](https://github.com/UMEP-dev/UMEP/files/9731990/_LCFGrid_isotropic.txt)
[_veg_MPGrid_isotropic.txt](https://github.com/UMEP-dev/UMEP/files/9731991/_veg_MPGrid_isotropic.txt)
[NYC_2010_UMEP.txt](https://github.com/UMEP-dev/UMEP/files/9731994/NYC_2010_UMEP.txt)

[2022-10-07 08:17] shahjahan0275 commented on #462
These are the files that I used in SUEWS  prepare. I was exactly following this tutorial
https://umep-docs.readthedocs.io/projects/tutorial/en/latest/Tutorials/SuewsWUDAPT.html#suewswudapt

[2022-10-07 10:47] biglimp commented on #462
I need your grid also (shapefile).

[2022-10-07 10:47] biglimp commented on #462
I need your grid also (shapefile).

[2022-10-07 16:37] shahjahan0275 commented on #462
[SUEWSWUDAPT_NYC.zip](https://github.com/UMEP-dev/UMEP/files/9735656/SUEWSWUDAPT_NYC.zip)

[2022-10-07 16:38] shahjahan0275 commented on #462
All the grid  (shapefile) is in the zip. Regards

[2022-10-11 07:54] biglimp commented on #461
The tickbox should be fixed now. The "Save settings" is not considered at this time. It will probable take some time before new version is available in QGIS repo. Use Development Release is you cannot wait.

[2022-10-11 07:54] #461 closed, assigned to gusbacos

[2022-10-11 07:55] biglimp commented on #462
Found the bug. Should be fixed now. It will probably take some time before new version is available in QGIS repo. Use Development Release is you cannot wait.

[2022-10-17 14:35] biglimp commented on #439
Update to the latest QGIS version 3.26. That will solve this.

[2022-10-17 14:35] #439 closed, assigned to nobody

[2022-10-17 14:36] biglimp commented on #440
Using the latest version of QGIS (3.26) solves this issue.

[2022-10-17 14:36] #440 closed, assigned to nobody

[2022-10-18 12:21] biglimp commented on #458
Sorry, I must have missed your email. Can you please re-send or add your screendump here. sorry.

[2022-10-18 16:38] shahjahan0275 commented on #462
I am facing following problem while running UMEP > Processer > Urban Energy Balance > Urban Energy Balance (SUEWS/BLUEWS, advanced). I am following the same tutorial as before:
https://umep-docs.readthedocs.io/projects/tutorial/en/latest/Tutorials/SuewsWUDAPT.html#suewswudapt
![image](https://user-images.githubusercontent.com/39149359/196490208-07f280b7-5802-456a-943f-cde102a768de.png)

attaching

[2022-10-19 07:52] biglimp commented on #462
What version of UMEP are you using. THis might have been fixed in the latest version.

[2022-10-19 14:28] shahjahan0275 commented on #462
I am using the following version:
UMEP Available version (stable) 	3.20.7 updated at Tue Oct 11 02:56:13 2022

[2022-10-20 11:20] biglimp commented on #462
Can also please check your version of SuPy. Should be displayed as a log message in QGIS.

[2022-10-20 11:34] biglimp commented on #462
I think I found the issue. Updated to 3.20.8. Install as a development release (https://umep-docs.readthedocs.io/en/latest/Getting_Started.html#installing-development-release-could-be-unstable). You need to go back in the tutorial and re-run SUEWS Prepare.

[2022-10-20 14:05] jkblizzard commented on #452
Dear Nils,

I am not sure whether you remember my little problem with the tree
generator in August/September this year.

Already in September I have sent you a message via Github. However, I
have never found this message back in the thread. I am not sure whether
it reached you. Anyway, I just wanted to make sure letting you know that
your effort is very much appreciated. SEBE works like a charm no

[2022-10-20 14:24] nilswallenberg commented on #452
Dear Jörg,

Happy to hear that SEBE and TreeGenerator works!

I remember your little problem and I am glad that we solved it.

My suggestion for Energyyearwall.txt is that you send us an issue labeled "Enhancement" and we will try to add an output of Energyyearwall as comma separated or similar as soon as possible.

Cheers,
Nils

[2022-10-21 10:08] shahjahan0275 commented on #462
I have followed your instruction. same error:
![image](https://user-images.githubusercontent.com/39149359/197170910-7e8aa8ee-cbff-43e7-99ac-550472a44065.png)
[SuPy.log](https://github.com/UMEP-dev/UMEP/files/9838032/SuPy.log)

[2022-10-21 14:21] biglimp commented on #462
What.version of SuPy do you have?

[2022-10-24 15:08] biglimp commented on #462
Ok, new try. Download latest development release and try again.

[2022-10-25 09:48] shahjahan0275 commented on #462
![image](https://user-images.githubusercontent.com/39149359/197741614-53243d0c-97b0-46bc-acfe-72e8a27c48c9.png)
I have 32 GB installed memory on my laptop.

[2022-10-25 09:58] biglimp commented on #462
First things first, did we get rid of the other error? This is a new one?

[2022-10-25 11:34] shahjahan0275 commented on #462
Yes, there are no other error, SUEWS ran for quite some time, then this
error occurred. Regards

On Tue, 25 Oct 2022, 3:58 pm biglimp, ***@***.***> wrote:

[2022-10-25 12:10] biglimp commented on #462
@sunt05, what do you make of this last error?

[2022-10-25 12:24] sunt05 opened #465 "memory issue when running supy for large scale simulations"
_Originally posted by @shahjahan0275 in https://github.com/UMEP-dev/UMEP/issues/462#issuecomment-1290282343_

[2022-10-25 12:24] sunt05 commented on #465
similar upstream issue: https://github.com/UMEP-dev/SuPy/issues/47

[2022-10-25 12:25] sunt05 commented on #465
to look into this issue, please try out the approach here first:

https://github.com/UMEP-dev/SuPy/issues/47#issuecomment-1189572983

[2022-10-25 12:30] biglimp commented on #462
hm, this error is produced from one of our [tutorials ](https://umep-docs.readthedocs.io/projects/tutorial/en/latest/Tutorials/SuewsWUDAPT.html#suewswudapt) which worked before SuPy. We need to find a solution to this.

[2022-10-25 12:30] sunt05 commented on #462
@shahjahan0275 Thanks for the update - then please close this issue and follow up on [the new one](https://github.com/UMEP-dev/UMEP/issues/465).

@biglimp to me, this seems to be an upstream issue as explained in [the issue referenced here](https://github.com/UMEP-dev/SuPy/issues/47).

[2022-10-25 12:31] #462 closed, assigned to sunt05

[2022-10-25 12:40] biglimp commented on #465
@shahjahan0275 could you try to run via UMEP for processing instead? It is a plugin the make use of UMEP via the Processing toolbox.

[2022-10-26 04:59] shahjahan0275 commented on #465
I ran  via UMEP for processing and it failed "Execution failed after 2711.37 seconds (45 minutes 11 seconds)"
![image](https://user-images.githubusercontent.com/39149359/197938763-f530ac50-3061-4e9d-b87d-f396d5aed933.png)

[2022-10-26 05:04] shahjahan0275 commented on #465
I will now try the  workaround,  splitting the case into smaller chunks as suggested by @sunt05. I will reduce the weather file to 1 month

[2022-10-26 06:36] shahjahan0275 commented on #465
I have deleted 11 months of data from weather file and kept the data of January 1-February 1, 2010. The model ran. but in the last part of tutorial
![image](https://user-images.githubusercontent.com/39149359/197951382-a38006e3-9ef6-4ba1-81f6-f68d47766ef8.png)
I got the following error
2022-10-26T12:27:13     WARNING    Python error : An error has occurred while executing Python code: See message l

[2022-10-26 06:39] shahjahan0275 commented on #465
** small correction,  in the weather file I kept the data from January 1 to January 31. Regards

[2022-10-26 06:42] shahjahan0275 commented on #465
in the processing tab of QGIS I also found following error
2022-10-26T12:22:06     WARNING    Duplicate parameter INPUT_DEM registered for alg Outdoor Thermal Comfort: SOLWEIG
2022-10-26T12:22:20     CRITICAL    Problem with OTB installation: OTB folder is not set.

[2022-10-26 07:15] biglimp commented on #465
The INPUT_DEM is from another model which is not affected by you. THe OBT come from Orfeo Toolbox being not set which is also not affecting this issue.

The SUEWS Analyzer issue. Can you show me the content of your output folder after running the model

Also, could you please try something else for us:
We suspect that it is the active QGIS-session that is causing the memory issue.
With your input

[2022-10-26 07:26] jkblizzard opened #466 "SEBE Energyyearwall.txt - enhancement"
In SEBE the file Energyyearwall.txt is generated as tab/space delimited ASCII file. This is fine so far. However, regular spreadsheet programs fail to import these files cleanly as soon as the number of digits varies within a single column (e.g. 54.23, 143.67, 3.56, ....). Generating a comma or semicolon delimited file would facilitate the further use of it (e.g. generating a point shape).

 - OS:

[2022-10-26 09:53] jkblizzard opened #467 "Meteorological Data: Download data (ERA5) does not deliver data"
Once the coordinates and the target directory are entered, the download tool indicates working status. However, even after six hours and longer nothing happens.
I have followed the instructions, registered at Copernicus, installed both CDS API key and client.
I have not received any error message.
The CDS live site indicates no requests from my site (yes, I am logged in)

 - OS: Debian 11
 - QGIS

[2022-10-26 10:39] shahjahan0275 commented on #465
Below is both input and output file. Also I will run the model as you advised.
[SUEWS_Output.zip](https://github.com/UMEP-dev/UMEP/files/9868635/SUEWS_Output.zip)
[SUEWS_Input.zip](https://github.com/UMEP-dev/UMEP/files/9868637/SUEWS_Input.zip)

[2022-10-26 13:15] shahjahan0275 commented on #465
is it the correct way of running model in supy:
![image](https://user-images.githubusercontent.com/39149359/198035222-9c9c5305-13ce-49ad-8d0a-1d274bcce787.png)

[2022-10-26 16:16] shahjahan0275 commented on #465
got this after running for couple of hours:
![image](https://user-images.githubusercontent.com/39149359/198079647-77d8c478-1b1f-47fd-b68d-cdd7540f145d.png)

[2022-10-26 17:36] sunt05 commented on #465
In this case, it might be more helpful to split your df_state into multiple single-grid dataframes and run them sequentially - for each single grid run, save the results as external files and load them back in for further analysis.

[2022-10-27 07:46] biglimp commented on #465
Thank you @shahjahan0275 , now we know that it is a windows issue rather than a QGIS issue. Will will work on a solution. In the mean time make use of the solution suggested by @sunt05 of splitting your data.

I will try to sort out your issue in the SUEWS Analyzer as soon as possible.

[2022-10-27 09:29] biglimp commented on #467
Based on traffic, it can take a loooong time to downlaod. If you open your python console, you can see some info on the progress. I just started one download below:
![image](https://user-images.githubusercontent.com/11908356/198247362-94cb3031-085f-470d-bcba-68aa807a5955.png)

If you are interested in Europe I can recommend to have a look at https://www.shinyweatherdata.com/. Here, someone made an

[2022-10-27 09:34] biglimp commented on #465
@shahjahan0275 to solve the SUEWS Analyzer issue I need your RunControl.nml. Can you please attach it here.

[2022-10-27 09:51] biglimp commented on #465
The reason SUEWSAnalyzer gives error is because you have created your grid in some strange way so that is is not covering the LCZ-data. This means that you dont have data for grid 1,7 etc. see attached screen dump and SiteSelect.txt used in SUEWS.

You need to make a new grid that is completely within the LCZdata. If the text in the tutorial is wrong, please submit an issue to the documentation an

[2022-10-27 09:58] jkblizzard commented on #467
thanks a lot for your instant response.
My python console indicates the download directory on my computer and then nothing. There is no "Welcome to CDS", etc.
Thanks for linking me to shinyweather. However, that did not work for me either. I have got a number of disconnection messages, and ones the download process was indicated to be finished I could not access the csv file in the export section.

[2022-10-27 10:11] biglimp commented on #467
Just tried the shinyweather thing. No problems for me.

HAve you tried to access the data outside as shown here: https://cds.climate.copernicus.eu/api-how-to? Try that and let us know the result.

[2022-10-29 22:09] willkochtitzky opened #469 "Error on install"
Hi, I got the below (and attached) error when I tried install the QGIS plugin on QGIS 3.16.16 on MacOS. Do you have any advice on how to fix this?

An error occurred during execution of following code:
import pyplugin_installer

Traceback (most recent call last):
  File "/Applications/QGIS-LTR.app/Contents/MacOS/../Resources/python/qgis/utils.py", line 334, in _startPlugin
    plugins[packageName]

[2022-10-31 08:05] biglimp commented on #469
It looks like you have a low version of matplotlib but also old version of QGIS. I suggest you update QGIS and try again.

[2022-10-31 12:38] willkochtitzky commented on #469
Thank you for your reply! I did update QGIS but that didnt fix it. I will look into updating Matplotlib, etc. Thanks, Will

[2022-10-31 12:43] biglimp commented on #469
I am a windows user myself, so maybe some more experiences IOS user can help you here, e.g. @sunt05?

[2022-10-31 13:00] sunt05 commented on #469
This seems to be a X11 related issue - try [this one](https://www.xquartz.org) and see if it works.

[2022-10-31 13:26] willkochtitzky commented on #469
Thanks @sunt05 for the advice! I got it working without problems on another Mac, but even after updating that XQuratz I am still getting errors on that original computer. I have a work around for the moment, thanks! I will try to dig into it more for that first machine. I really appreciate all the help!

[2022-10-31 13:26] #469 closed, assigned to nobody

[2022-11-02 15:53] gusbacos opened #472 "Installing missing Python Packages when installing UMEP and UMEP for processing error on MacOS"
**Describe the bug**
The possibility for installing missing python packages when installing UMEP and UMEP for processing generate following error message

Packages not installed. report any errors to...

when i try to import supy in the QGIS python console, supy is not installed

**Desktop (please complete the following information):**
 - OS: 10.15.7
 - QGIS Version 3.26.3
 - UMEP Version 3.20.7

[2022-11-10 15:02] sunt05 commented on #472
Seems to be caused by a deprecated option in `pip` that was used in our supy installation script.

@biglimp please review my PR #474 and see if it would fix this issue - thanks!

[2022-11-11 08:36] #472 closed, assigned to sunt05

[2022-11-13 19:18] ashersavin commented on #248
I am having the same trouble where the data download never finishes and my request does not appear in my CDS account. I have gone through all the updates listed above and nothing has worked. Could this have something to do with the DHS data transfer that is/was taking place? Everything I have read makes it seem like my request should still work but I do not know.

[2022-11-14 08:04] biglimp commented on #248
If you open your python console in qgis you can see the progress. Depending on where you are in the world you can also check out shinyweatherdata.com

[2022-11-14 16:26] ashersavin commented on #248
Thanks for the reply. I have been monitoring the python console and it just says my request is sent and but it never completes. I will check out the shiny app.

[2022-11-14 17:05] biglimp commented on #248
Can you attach the text in your Python console.

[2022-11-14 21:15] ashersavin commented on #248
Python console text is:

2022-11-14 14:10:32,461 INFO Welcome to the CDS
2022-11-14 14:10:32,464 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels

And then it never finishes, and my request does not appear in CDS profile.

[2022-11-15 07:33] biglimp commented on #248
I cannot replicate your error.
hm, I wonder if you have set everything correct. When I run the tool I get this in the beginning:
![image](https://user-images.githubusercontent.com/11908356/201856749-1f062723-49bf-4adc-8846-dad0b72d6bb8.png)
Then I takes a while and it finishes succesfully. Have you tried to use the CDS API outside of QGIS, to see if you can download data at all?

[2022-11-15 23:15] ashersavin commented on #248
Weird. I just tried it outside the API and it sends the request but it never exits the queue (at least for 1 hour, which is the longest I've tried).

[2022-11-15 23:31] ashersavin commented on #248
My "fetch from map" coordinate feature also doesn't work if that might be an indication of something. If I press it the whole cell just goes unresponsive and I have to close it.

[2022-11-16 07:04] biglimp commented on #248
What OS do you use and what version of QGIS and UMEP are you using? The unsuccess to use the API outside QGIS indicates that it is your CDS API setting that is the problem.

[2022-11-21 03:42] zhangzhanggy opened #475 "about MetPreprocessor input"
I'm so sorry about this question, because it seems be apparent.
I just want to confirm that if I can input GHI, DHI and DNI data into MetPreprocessor to get kdown, kdiff and kdir, despite partially satisfying the description and comments.

[2022-11-21 07:16] #475 closed, assigned to nobody

[2022-11-23 16:01] s-martiz opened #477 "bug Python for processing (SOLWEIG)"
Dear all,

I'm facing a bug while trying to execute the [example](https://umep-docs.readthedocs.io/projects/tutorial/en/latest/Tutorials/PythonProcessing2.html)

**Description**
Here is the error code found in the console

[code]

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: Windows 11
 - QGIS 3.28.0
 - UMEP 1.7.8
 - PyCharm 2022.2.3

[2022-11-23 16:13] biglimp commented on #477
Were you able to follow this tutorial: https://umep-docs.readthedocs.io/projects/tutorial/en/latest/Tutorials/PythonProcessing1.html?
It seems that you have some issue with pandas. Maybe @j3r3m1 can help. He wrote this execrise.

[2022-11-23 16:47] s-martiz commented on #477
@biglimp thank you for your answer.

Yes I have tried the shadowmapping generation from [exemple n°1](https://umep-docs.readthedocs.io/projects/tutorial/en/latest/Tutorials/PythonProcessing1.html?) with the python console of QGIS (works well).
Now I'd like to run the example from pycharm.

I'll check the "jupyter notebook" section of this exemple 👍

Best regards

[2022-11-24 12:46] j3r3m1 commented on #477
Thank you for reporting.
Can you give more information about the error message you got ? Do you know where exactly the code stopped ? I only see a warning in the message you mentionned.

Note that the first part of the script you mention has to be executed within the Python console. The second part (starting from "# Defines the directory where have been exported the path and variables") has to be

[2022-11-28 14:29] s-martiz opened #478 "SOLWEIG > vegetation optional ?"
Dear all,
I'm trying to exectute UMEP on a new case study using french databases.
I'd like to execute the SOLWEIG model.

**Describe the bug**
While running SOLWEIG without vegetation layers, a bug appears even if vegetation canopy DSM is written optionnal

**To Reproduce**
Here is the print screen of the console
[code]

**Desktop (please complete the following information):**
- OS: Windows 11
- Q

[2022-11-28 14:29] s-martiz commented on #477
thank you @biglimp and @j3r3m1

[2022-11-28 14:29] #477 closed, assigned to j3r3m1

[2022-11-28 14:32] j3r3m1 commented on #477
How did you solve your problem ? Was the problem related to the fact that the 1st part of the script should be executed in a QGIS Python console ?

[2022-11-28 14:34] s-martiz commented on #477
I solved the problem by executing the script directly in the QGIS python console.
I'll try to generate 100% python code after solving all the issues I face with generating proper databases ;)

[2022-11-28 15:52] nilswallenberg commented on #478
Hi,

I can't replicate your error. Worked fine to run with your input data.

Are you sure that you are running with the correct svfs? Your path to svfs.zip is 'C:\\Users\\simon\\python-scripts\\tipee-umep\\Goteborg\\svfs.zip'. Maybe you are running with SVFs for Gothenburg?

Cheers,
Nils

[2022-11-28 15:59] s-martiz commented on #478
Ooops, you are right 🤦‍♂️
thank you
Simon

[2022-11-28 15:59] #478 closed, assigned to nilswallenberg

[2022-11-30 12:50] Empanag opened #479 "Morphometric doesn't work"
I m trying to use morphometric tool for grid using only buildings file and a shapefile but i don't have any outputs only the isotropic file which is empty.

my data are these in the link
["D:\FORTH-RSLab Dropbox\FORTH-RSLab Dropbox\RSLab\Manolis Panagiotakis\MorphometricInputs.zip"](https://www.dropbox.com/s/zii3volqzc4k7dg/MorphometricInputs.zip?dl=0)

[2022-11-30 13:50] #479 closed, assigned to nobody

[2022-11-30 16:15] s-martiz opened #481 "bug while running SOLWEIG with specific landcover.tif"
Dear all,
I'm facing an issue while running a SOLWEIG simulation with a "home-made" landcover.tif
You'll find attached the data. For now, I can't find my mistake
The error is printed below

**To Reproduce**
[code]

**Desktop:**
- OS: Windows 11
- QGIS 3.22.0
- UMEP 1.7.8
- PyCharm 2022.2.3

**Data**
[data-zip.zip](https://github.com/UMEP-dev/UMEP/files/10125025/data-zip.zip)